<div class="code-box" id="anim-demo-custom">
  <div class="code-box-demo">
    <div id="components-queue-anim-demo-custom"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var Test = React.createClass({
  displayName: "Test",

  getInitialState: function getInitialState() {
    return {
      show: true
    };
  },
  onClick: function onClick() {
    this.setState({
      show: !this.state.show
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        "p",
        { className: "buttons" },
        React.createElement(
          _antd.Button,
          { type: "primary", onClick: this.onClick },
          "切换"
        )
      ),
      React.createElement(
        _antd.QueueAnim,
        { className: "demo-content",
          animConfig: [{ opacity: [1, 0], translateY: [0, 50] }, { opacity: [1, 0], translateY: [0, -50] }] },
        this.state.show ? [React.createElement(
          "div",
          { className: "demo-kp", key: "a" },
          React.createElement(
            "ul",
            null,
            React.createElement("li", null),
            React.createElement("li", null),
            React.createElement("li", null)
          )
        ), React.createElement(
          "div",
          { className: "demo-listBox", key: "b" },
          React.createElement(
            "div",
            { className: "demo-list" },
            React.createElement("div", { className: "title" }),
            React.createElement(
              "ul",
              null,
              React.createElement("li", null),
              React.createElement("li", null),
              React.createElement("li", null)
            )
          )
        )] : null
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-queue-anim-demo-custom'));})()</script><div class="highlight"><pre><code class="javascript">import { QueueAnim, Button } from <span class="string">'antd'</span>;

<span class="keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      show: <span class="literal">true</span>,
    }
  },
  onClick() {
    <span class="keyword">this</span>.setState({
      show: !<span class="keyword">this</span>.state.show,
    })
  },
  render() {
    <span class="keyword">return</span> (
      <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"buttons"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span> <span class="attribute">onClick</span>=<span class="value">{this.onClick}</span>&gt;</span>切换<span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">p</span>&gt;</span>
        <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">className</span>=<span class="value">"demo-content"</span>
          <span class="attribute">animConfig</span>=<span class="value">{[</span>
            { <span class="attribute">opacity:</span> [<span class="attribute">1</span>, <span class="attribute">0</span>], <span class="attribute">translateY:</span> [<span class="attribute">0</span>, <span class="attribute">50</span>] },
            { <span class="attribute">opacity:</span> [<span class="attribute">1</span>, <span class="attribute">0</span>], <span class="attribute">translateY:</span> [<span class="attribute">0</span>, <span class="attribute">-50</span>] }
          ]}&gt;</span>
          {this.state.show ? [
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-kp"</span> <span class="attribute">key</span>=<span class="value">"a"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>,
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-listBox"</span> <span class="attribute">key</span>=<span class="value">"b"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-list"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"title"</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
                <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          ] : null}
        <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    )
  }
});

ReactDOM.render(<span class="tag">&lt;<span class="title">Test</span> /&gt;</span>, document.getElementById('components-queue-anim-demo-custom'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#anim-demo-custom">自定义动画进出场</a>
    </div>
    <p>通过 <code>animConfig</code> 来自定义动画进出场。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>