<div class="code-box" id="anim-demo-form">
  <div class="code-box-demo">
    <div id="components-queue-anim-demo-form"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var Option = _antd.Select.Option;
var RadioGroup = _antd.Radio.Group;

var Test = React.createClass({
  displayName: "Test",

  getInitialState: function getInitialState() {
    return {
      show: true
    };
  },
  onClick: function onClick() {
    this.setState({
      show: !this.state.show
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        "p",
        { className: "buttons" },
        React.createElement(
          _antd.Button,
          { type: "primary", onClick: this.onClick },
          "切换"
        )
      ),
      React.createElement(
        _antd.QueueAnim,
        { component: "form", className: "ant-form-horizontal", type: "bottom", leaveReverse: true },
        this.state.show ? [React.createElement(
          "div",
          { className: "ant-form-item ant-form-item-compact", key: "name" },
          React.createElement(
            "label",
            { htmlFor: "userName", className: "col-6", required: true },
            "用户名："
          ),
          React.createElement(
            "div",
            { className: "col-6" },
            React.createElement(
              "p",
              { className: "ant-form-text" },
              "大眼萌 minion"
            )
          )
        ), React.createElement(
          "div",
          { className: "ant-form-item", key: "password" },
          React.createElement(
            "label",
            { htmlFor: "password", className: "col-6", required: true },
            "密码："
          ),
          React.createElement(
            "div",
            { className: "col-14" },
            React.createElement("input", { className: "ant-input", type: "password", id: "password", placeholder: "请输入密码" })
          )
        ), React.createElement(
          "div",
          { className: "ant-form-item ant-form-item-compact", key: "sex" },
          React.createElement(
            "label",
            { className: "col-6", required: true },
            "您的性别："
          ),
          React.createElement(
            "div",
            { className: "col-14" },
            React.createElement(
              RadioGroup,
              { value: "male" },
              React.createElement(
                _antd.Radio,
                { value: "male" },
                "男的"
              ),
              React.createElement(
                _antd.Radio,
                { value: "female" },
                "女的"
              )
            )
          )
        ), React.createElement(
          "div",
          { className: "ant-form-item", key: "remark" },
          React.createElement(
            "label",
            { htmlFor: "remark", className: "col-6", required: true },
            "备注："
          ),
          React.createElement(
            "div",
            { className: "col-14" },
            React.createElement("textarea", { className: "ant-input", id: "remark", placeholder: "随便写" }),
            React.createElement(
              "p",
              { className: "ant-form-explain" },
              "随便写点什么"
            )
          )
        ), React.createElement(
          "div",
          { className: "ant-form-item ant-form-item-compact", key: "checkbox" },
          React.createElement(
            "div",
            { className: "col-14 col-offset-6" },
            React.createElement(
              "label",
              null,
              React.createElement(_antd.Checkbox, null),
              "同意"
            )
          )
        ), React.createElement(
          "div",
          { className: "row", key: "btn" },
          React.createElement(
            "div",
            { className: "col-16 col-offset-6" },
            React.createElement(
              _antd.Button,
              { type: "primary" },
              "确定"
            )
          )
        )] : null
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-queue-anim-demo-form'));})()</script><div class="highlight"><pre><code class="javascript">import { QueueAnim, Button, Select, Checkbox, Radio } from <span class="string">'antd'</span>;
<span class="keyword">const</span> Option = Select.Option;
<span class="keyword">const</span> RadioGroup = Radio.Group;

<span class="keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      show: <span class="literal">true</span>
    };
  },
  onClick() {
    <span class="keyword">this</span>.setState({
      show: !<span class="keyword">this</span>.state.show
    });
  },
  render() {
    <span class="keyword">return</span> (
      <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"buttons"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span> <span class="attribute">onClick</span>=<span class="value">{this.onClick}</span>&gt;</span>切换<span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">p</span>&gt;</span>
        <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">component</span>=<span class="value">"form"</span> <span class="attribute">className</span>=<span class="value">"ant-form-horizontal"</span> <span class="attribute">type</span>=<span class="value">"bottom"</span> <span class="attribute">leaveReverse</span>=<span class="value">{true}</span>&gt;</span>
          {this.state.show ? [
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item ant-form-item-compact"</span> <span class="attribute">key</span>=<span class="value">'name'</span>&gt;</span>
              <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"userName"</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>用户名：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-text"</span>&gt;</span>大眼萌 minion<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>,
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span> <span class="attribute">key</span>=<span class="value">'password'</span>&gt;</span>
              <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"password"</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>密码：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"password"</span> <span class="attribute">id</span>=<span class="value">"password"</span> <span class="attribute">placeholder</span>=<span class="value">"请输入密码"</span>/&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>,
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item ant-form-item-compact"</span> <span class="attribute">key</span>=<span class="value">'sex'</span>&gt;</span>
              <span class="tag">&lt;<span class="title">label</span>  <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>您的性别：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">RadioGroup</span> <span class="attribute">value</span>=<span class="value">"male"</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"male"</span>&gt;</span>男的<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"female"</span>&gt;</span>女的<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
                <span class="tag">&lt;/<span class="title">RadioGroup</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>,
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span> <span class="attribute">key</span>=<span class="value">'remark'</span>&gt;</span>
              <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"remark"</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>备注：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">textarea</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">id</span>=<span class="value">"remark"</span> <span class="attribute">placeholder</span>=<span class="value">"随便写"</span>&gt;</span><span class="tag">&lt;/<span class="title">textarea</span>&gt;</span>
                <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-explain"</span>&gt;</span>随便写点什么<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>,
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item ant-form-item-compact"</span> <span class="attribute">key</span>=<span class="value">'checkbox'</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14 col-offset-6"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">label</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">Checkbox</span> /&gt;</span>
                  同意
                <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>,
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"row"</span> <span class="attribute">key</span>=<span class="value">'btn'</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16 col-offset-6"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span>&gt;</span>确定<span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          ] : null}
        <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    );
  }
});

ReactDOM.render(<span class="tag">&lt;<span class="title">Test</span> /&gt;</span>, document.getElementById('components-queue-anim-demo-form'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#anim-demo-form">表单动画进出场</a>
    </div>
    <p>表单组合的进场与出场动画。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>