<div class="code-box" id="anim-demo-router">
  <div class="code-box-demo">
    <div id="components-queue-anim-demo-router"></div>
    <script>(function(){'use strict';

var ReactRouter = require('react-router');
var Router = ReactRouter.Router;
var Route = ReactRouter.Route;
var Link = ReactRouter.Link;
var QueueAnim = antd.QueueAnim;
var Menu = antd.Menu;

var App = React.createClass({
  displayName: 'App',

  render: function render() {
    var key = this.props.location.pathname;
    var keys = key.replace('/', '') ? [key.replace('/', '')] : ['home'];
    return React.createElement(
      'div',
      null,
      React.createElement(
        Menu,
        { style: { marginBottom: 10 }, mode: 'horizontal', selectedKeys: keys },
        React.createElement(
          Menu.Item,
          { key: 'home' },
          React.createElement(
            Link,
            { to: '/' },
            '首页'
          )
        ),
        React.createElement(
          Menu.Item,
          { key: 'page1' },
          React.createElement(
            Link,
            { to: '/page1' },
            'Page 1'
          )
        ),
        React.createElement(
          Menu.Item,
          { key: 'page2' },
          React.createElement(
            Link,
            { to: '/page2' },
            'Page 2'
          )
        )
      ),
      React.createElement(
        QueueAnim,
        { type: ['right', 'left'], className: 'demo-router-wrap' },
        React.cloneElement(this.props.children || React.createElement(Home, null), { key: key })
      )
    );
  }
});

var Home = React.createClass({
  displayName: 'Home',

  render: function render() {
    return React.createElement(
      'div',
      { className: 'demo-router-child' },
      React.createElement(
        QueueAnim,
        { className: 'demo-content' },
        React.createElement(
          'div',
          { className: 'demo-kp', key: 'a' },
          React.createElement(
            QueueAnim,
            { component: 'ul' },
            React.createElement('li', { key: '0' }),
            React.createElement('li', { key: '1' }),
            React.createElement('li', { key: '2' })
          )
        ),
        React.createElement(
          'div',
          { className: 'demo-kp', key: 'b' },
          React.createElement(
            QueueAnim,
            { component: 'ul' },
            React.createElement('li', { key: '0' }),
            React.createElement('li', { key: '1' }),
            React.createElement('li', { key: '2' })
          )
        ),
        React.createElement(
          'div',
          { className: 'demo-kp', key: 'c' },
          React.createElement(
            QueueAnim,
            { component: 'ul' },
            React.createElement('li', { key: '0' }),
            React.createElement('li', { key: '1' }),
            React.createElement('li', { key: '2' })
          )
        )
      )
    );
  }
});

var Page1 = React.createClass({
  displayName: 'Page1',

  render: function render() {
    return React.createElement(
      'div',
      { className: 'demo-router-child' },
      React.createElement(
        QueueAnim,
        { className: 'demo-content' },
        React.createElement(
          'div',
          { className: 'demo-kp', key: 'b' },
          React.createElement(
            QueueAnim,
            { component: 'ul' },
            React.createElement('li', { key: '0' }),
            React.createElement('li', { key: '1' }),
            React.createElement('li', { key: '2' })
          )
        ),
        React.createElement(
          'div',
          { className: 'demo-listBox' },
          React.createElement(
            QueueAnim,
            { className: 'demo-list', delay: 200 },
            React.createElement('div', { className: 'title', key: 'title3' }),
            React.createElement(
              QueueAnim,
              { component: 'ul', animConfig: { opacity: [1, 0], translateY: [0, 30], scale: [1, 0.9] }, key: 'ul' },
              React.createElement('li', { key: '0' }),
              React.createElement('li', { key: '1' }),
              React.createElement('li', { key: '2' })
            )
          )
        )
      )
    );
  }
});

var Page2 = React.createClass({
  displayName: 'Page2',

  render: function render() {
    return React.createElement(
      'div',
      { className: 'demo-router-child' },
      React.createElement(
        'div',
        { className: 'demo-content' },
        React.createElement(
          'div',
          { className: 'demo-listBox' },
          React.createElement(
            QueueAnim,
            { className: 'demo-list' },
            React.createElement('div', { className: 'title', key: 'title3' }),
            React.createElement(
              QueueAnim,
              { component: 'ul', animConfig: { opacity: [1, 0], translateY: [0, 30], scale: [1, 0.9] }, key: 'li' },
              React.createElement('li', { key: '0' }),
              React.createElement('li', { key: '1' }),
              React.createElement('li', { key: '2' }),
              React.createElement('li', { key: '3' }),
              React.createElement('li', { key: '4' }),
              React.createElement('li', { key: '5' })
            )
          )
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(
  Router,
  null,
  React.createElement(
    Route,
    { path: '/', component: App, ignoreScrollBehavior: true },
    React.createElement(Route, { path: 'page1', component: Page1 }),
    React.createElement(Route, { path: 'page2', component: Page2 })
  )
), document.getElementById('components-queue-anim-demo-router'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> ReactRouter = require(<span class="string">'react-router'</span>);
<span class="keyword">var</span> Router = ReactRouter.Router;
<span class="keyword">var</span> Route = ReactRouter.Route;
<span class="keyword">var</span> Link = ReactRouter.Link;
<span class="keyword">var</span> QueueAnim = antd.QueueAnim;
<span class="keyword">var</span> Menu = antd.Menu;

<span class="keyword">var</span> App = React.createClass({
  render() {
    <span class="keyword">var</span> key = <span class="keyword">this</span>.props.location.pathname;
    <span class="keyword">var</span> keys = key.replace(<span class="string">'/'</span>, <span class="string">''</span>) ? [ key.replace(<span class="string">'/'</span>, <span class="string">''</span>) ] : [ <span class="string">'home'</span> ];
    <span class="keyword">return</span> (
      <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Menu</span> <span class="attribute">style</span>=<span class="value">{{marginBottom:</span> <span class="attribute">10</span>}} <span class="attribute">mode</span>=<span class="value">"horizontal"</span> <span class="attribute">selectedKeys</span>=<span class="value">{keys}</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"home"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Link</span> <span class="attribute">to</span>=<span class="value">"/"</span>&gt;</span>首页<span class="tag">&lt;/<span class="title">Link</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"page1"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Link</span> <span class="attribute">to</span>=<span class="value">"/page1"</span>&gt;</span>Page 1<span class="tag">&lt;/<span class="title">Link</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"page2"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Link</span> <span class="attribute">to</span>=<span class="value">"/page2"</span>&gt;</span>Page 2<span class="tag">&lt;/<span class="title">Link</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">Menu</span>&gt;</span>
        <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">type</span>=<span class="value">{['right',</span> '<span class="attribute">left</span>']} <span class="attribute">className</span>=<span class="value">"demo-router-wrap"</span>&gt;</span>
          {React.cloneElement(this.props.children||<span class="tag">&lt;<span class="title">Home</span>/&gt;</span>, {key: key})}
        <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    );
  }
});

var Home = React.createClass({
  render() {
    return (
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-router-child"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">className</span>=<span class="value">"demo-content"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-kp"</span> <span class="attribute">key</span>=<span class="value">"a"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">component</span>=<span class="value">"ul"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-kp"</span> <span class="attribute">key</span>=<span class="value">"b"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">component</span>=<span class="value">"ul"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-kp"</span> <span class="attribute">key</span>=<span class="value">"c"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">component</span>=<span class="value">"ul"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    );
  }
});

var Page1 = React.createClass({
  render() {
    return (
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-router-child"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">className</span>=<span class="value">"demo-content"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-kp"</span> <span class="attribute">key</span>=<span class="value">"b"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">component</span>=<span class="value">"ul"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-listBox"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">className</span>=<span class="value">"demo-list"</span> <span class="attribute">delay</span>=<span class="value">{200}</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"title"</span> <span class="attribute">key</span>=<span class="value">"title3"</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
              <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">component</span>=<span class="value">"ul"</span> <span class="attribute">animConfig</span>=<span class="value">{{opacity:[1,</span> <span class="attribute">0</span>],<span class="attribute">translateY:</span>[<span class="attribute">0</span>, <span class="attribute">30</span>],<span class="attribute">scale:</span>[<span class="attribute">1</span>,<span class="attribute">0.9</span>]}} <span class="attribute">key</span>=<span class="value">"ul"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    );
  }
});

var Page2 = React.createClass({
  render() {
    return (
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-router-child"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-content"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-listBox"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">className</span>=<span class="value">"demo-list"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"title"</span> <span class="attribute">key</span>=<span class="value">"title3"</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
              <span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">component</span>=<span class="value">"ul"</span> <span class="attribute">animConfig</span>=<span class="value">{{opacity:[1,</span> <span class="attribute">0</span>],<span class="attribute">translateY:</span>[<span class="attribute">0</span>, <span class="attribute">30</span>],<span class="attribute">scale:</span>[<span class="attribute">1</span>,<span class="attribute">0.9</span>]}} <span class="attribute">key</span>=<span class="value">"li"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"3"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"4"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">key</span>=<span class="value">"5"</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    );
  }
});

ReactDOM.render((
  <span class="tag">&lt;<span class="title">Router</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Route</span> <span class="attribute">path</span>=<span class="value">"/"</span> <span class="attribute">component</span>=<span class="value">{App}</span> <span class="attribute">ignoreScrollBehavior</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Route</span> <span class="attribute">path</span>=<span class="value">"page1"</span> <span class="attribute">component</span>=<span class="value">{Page1}</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">Route</span> <span class="attribute">path</span>=<span class="value">"page2"</span> <span class="attribute">component</span>=<span class="value">{Page2}</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">Route</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Router</span>&gt;</span>
), document.getElementById('components-queue-anim-demo-router'));</span></code></pre></div><style type="text/css">#components-queue-anim-demo-router .demo-router-wrap {
  position: relative;
  width: 100%;
  margin: auto;
  height:200px;
  overflow: hidden;
}
#components-queue-anim-demo-router .queue-anim-leaving {
  position: absolute;
  width:100%;
}</style><div class="highlight"><pre><code class="css"><span class="id">#components-queue-anim-demo-router</span> <span class="class">.demo-router-wrap</span> <span class="rules">{
  <span class="rule"><span class="attribute">position</span>:<span class="value"> relative</span></span>;
  <span class="rule"><span class="attribute">width</span>:<span class="value"> <span class="number">100</span>%</span></span>;
  <span class="rule"><span class="attribute">margin</span>:<span class="value"> auto</span></span>;
  <span class="rule"><span class="attribute">height</span>:<span class="value"><span class="number">200</span>px</span></span>;
  <span class="rule"><span class="attribute">overflow</span>:<span class="value"> hidden</span></span>;
<span class="rule">}</span></span>
<span class="id">#components-queue-anim-demo-router</span> <span class="class">.queue-anim-leaving</span> <span class="rules">{
  <span class="rule"><span class="attribute">position</span>:<span class="value"> absolute</span></span>;
  <span class="rule"><span class="attribute">width</span>:<span class="value"><span class="number">100</span>%</span></span>;
<span class="rule">}</span></span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#anim-demo-router">Router 默认进出场</a>
    </div>
    <p>router 组合的进场与出场动画。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>