<div class="code-box" id="anim-demo-simple">
  <div class="code-box-demo">
    <div id="components-queue-anim-demo-simple"></div>
    <script>(function(){"use strict";

var QueueAnim = antd.QueueAnim;

ReactDOM.render(React.createElement(
  QueueAnim,
  { delay: 500 },
  React.createElement(
    "div",
    { key: "a" },
    "依次进场"
  ),
  React.createElement(
    "div",
    { key: "b" },
    "依次进场"
  ),
  React.createElement(
    "div",
    { key: "c" },
    "依次进场"
  ),
  React.createElement(
    "div",
    { key: "d" },
    "依次进场"
  ),
  React.createElement(
    "div",
    { key: "e" },
    "依次进场"
  ),
  React.createElement(
    "div",
    { key: "f" },
    "依次进场"
  )
), document.getElementById('components-queue-anim-demo-simple'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> QueueAnim = antd.QueueAnim;

ReactDOM.render(
  <span class="xml"><span class="tag">&lt;<span class="title">QueueAnim</span> <span class="attribute">delay</span>=<span class="value">{500}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">key</span>=<span class="value">"a"</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">key</span>=<span class="value">"b"</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">key</span>=<span class="value">"c"</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">key</span>=<span class="value">"d"</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">key</span>=<span class="value">"e"</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">key</span>=<span class="value">"f"</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">QueueAnim</span>&gt;</span>
, document.getElementById('components-queue-anim-demo-simple'));</span></code></pre></div><style type="text/css">.code-box-demo > div {
  overflow: hidden;
}

.code-box-demo .buttons {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}</style><div class="highlight"><pre><code class="css"><span class="class">.code-box-demo</span> &gt; <span class="tag">div</span> <span class="rules">{
  <span class="rule"><span class="attribute">overflow</span>:<span class="value"> hidden</span></span>;
<span class="rule">}</span></span>

<span class="class">.code-box-demo</span> <span class="class">.buttons</span> <span class="rules">{
  <span class="rule"><span class="attribute">text-align</span>:<span class="value"> center</span></span>;
  <span class="rule"><span class="attribute">margin</span>:<span class="value"> <span class="number">0</span> auto</span></span>;
  <span class="rule"><span class="attribute">margin-bottom</span>:<span class="value"> <span class="number">20</span>px</span></span>;
<span class="rule">}</span></span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#anim-demo-simple">默认</a>
    </div>
    <p>最简单的进场例子。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>