<div class="code-box" id="demo-add">
  <div class="code-box-demo">
    <div id="components-tabs-demo-add"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var TabPane = _antd.Tabs.TabPane;

var index = 0;
var closeStyle = {
  position: 'absolute',
  top: 8,
  right: -9
};

var addStyle = {
  pointerEvents: 'auto',
  color: '#2db7f5',
  position: 'absolute',
  top: 8,
  left: 0,
  marginLeft: -8
};

var Test = React.createClass({
  displayName: 'Test',

  getInitialState: function getInitialState() {
    return {
      tabs: [{
        title: 'title ' + index,
        content: 'content ' + index,
        index: index
      }],
      activeKey: index.toString()
    };
  },
  remove: function remove(index, e) {
    e.stopPropagation();
    var tabs = this.state.tabs;
    var activeKey = this.state.activeKey;
    var foundIndex = 0;

    if (tabs.length === 1) {
      _antd.message.error('仅剩一个，不能删除');
      return;
    }

    var newTabs = tabs.filter(function (tab) {
      if (tab.index !== index) {
        return true;
      } else {
        foundIndex = index;
        return false;
      }
    });

    if (activeKey === index) {
      activeKey = tabs[foundIndex - 1].index;
    }

    this.setState({
      tabs: newTabs, activeKey: activeKey
    });
  },
  add: function add() {
    index += 1;
    this.setState({
      tabs: this.state.tabs.concat({
        title: 'title ' + index,
        content: 'content ' + index,
        index: index
      }),
      activeKey: index.toString()
    });
  },
  onChange: function onChange(activeKey) {
    console.log(activeKey);
    this.setState({ activeKey: activeKey });
  },
  render: function render() {
    var _this = this;

    var addBtn = React.createElement(_antd.Icon, { style: addStyle, type: 'plus-circle', onClick: this.add });
    var operations = React.createElement(
      _antd.Button,
      null,
      '操作'
    );
    return React.createElement(
      _antd.Tabs,
      { onChange: this.onChange,
        activeKey: this.state.activeKey,
        tabBarExtraContent: operations },
      this.state.tabs.map(function (tab) {
        return React.createElement(
          TabPane,
          { key: tab.index, tab: React.createElement(
              'div',
              null,
              tab.title,
              React.createElement(_antd.Icon, { type: 'cross', style: closeStyle, onClick: _this.remove.bind(_this, tab.index) })
            ) },
          tab.content
        );
      }),
      React.createElement(TabPane, { key: '__add', disabled: true, tab: addBtn })
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-tabs-demo-add'));})()</script><div class="highlight"><pre><code class="javascript">import { Tabs, Button, Icon, message } from <span class="string">'antd'</span>;
<span class="keyword">const</span> TabPane = Tabs.TabPane;

<span class="keyword">let</span> index = <span class="number">0</span>;
<span class="keyword">const</span> closeStyle = {
  position: <span class="string">'absolute'</span>,
  top: <span class="number">8</span>,
  right: -<span class="number">9</span>,
};

<span class="keyword">const</span> addStyle = {
  pointerEvents: <span class="string">'auto'</span>,
  color: <span class="string">'#2db7f5'</span>,
  position: <span class="string">'absolute'</span>,
  top: <span class="number">8</span>,
  left: <span class="number">0</span>,
  marginLeft: -<span class="number">8</span>,
};

<span class="keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      tabs: [{
        title: <span class="string">'title '</span> + index,
        content: <span class="string">'content '</span> + index,
        index: index
      }],
      activeKey: index.toString()
    };
  },
  remove(index, e) {
    e.stopPropagation();
    <span class="keyword">let</span> tabs = <span class="keyword">this</span>.state.tabs;
    <span class="keyword">let</span> activeKey = <span class="keyword">this</span>.state.activeKey;
    <span class="keyword">let</span> foundIndex = <span class="number">0</span>;

    <span class="keyword">if</span>(tabs.length === <span class="number">1</span>) {
      message.error(<span class="string">'仅剩一个，不能删除'</span>);
      <span class="keyword">return</span>;
    }

    <span class="keyword">const</span> newTabs = tabs.filter(tab =&gt; {
      <span class="keyword">if</span> (tab.index !== index) {
        <span class="keyword">return</span> <span class="literal">true</span>;
      } <span class="keyword">else</span> {
        foundIndex = index;
        <span class="keyword">return</span> <span class="literal">false</span>;
      }
    });

    <span class="keyword">if</span> (activeKey === index) {
      activeKey = tabs[foundIndex - <span class="number">1</span>].index;
    }

    <span class="keyword">this</span>.setState({
      tabs: newTabs, activeKey
    });
  },
  add() {
    index += <span class="number">1</span>;
    <span class="keyword">this</span>.setState({
      tabs: <span class="keyword">this</span>.state.tabs.concat({
        title: <span class="string">'title '</span> + index,
        content: <span class="string">'content '</span> + index,
        index: index,
      }),
      activeKey: index.toString(),
    });
  },
  onChange(activeKey) {
    console.log(activeKey);
    <span class="keyword">this</span>.setState({ activeKey });
  },
  render() {
    <span class="keyword">const</span> addBtn = <span class="xml"><span class="tag">&lt;<span class="title">Icon</span> <span class="attribute">style</span>=<span class="value">{addStyle}</span> <span class="attribute">type</span>=<span class="value">"plus-circle"</span> <span class="attribute">onClick</span>=<span class="value">{this.add}</span> /&gt;</span>;</span>
    <span class="keyword">const</span> operations = <span class="xml"><span class="tag">&lt;<span class="title">Button</span>&gt;</span>操作<span class="tag">&lt;/<span class="title">Button</span>&gt;</span>;</span>
    <span class="keyword">return</span> (
      <span class="xml"><span class="tag">&lt;<span class="title">Tabs</span> <span class="attribute">onChange</span>=<span class="value">{this.onChange}</span>
        <span class="attribute">activeKey</span>=<span class="value">{this.state.activeKey}</span>
        <span class="attribute">tabBarExtraContent</span>=<span class="value">{operations}</span>&gt;</span>
        {
          this.state.tabs.map(tab =&gt; (
            <span class="tag">&lt;<span class="title">TabPane</span> <span class="attribute">key</span>=<span class="value">{tab.index}</span> <span class="attribute">tab</span>=<span class="value">{</span>
              &lt;<span class="attribute">div</span>&gt;</span>
                {tab.title}
                <span class="tag">&lt;<span class="title">Icon</span> <span class="attribute">type</span>=<span class="value">"cross"</span> <span class="attribute">style</span>=<span class="value">{closeStyle}</span> <span class="attribute">onClick</span>=<span class="value">{this.remove.bind(this,</span> <span class="attribute">tab.index</span>)} /&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            }&gt;{tab.content}<span class="tag">&lt;/<span class="title">TabPane</span>&gt;</span>
          ))
        }
        <span class="tag">&lt;<span class="title">TabPane</span> <span class="attribute">key</span>=<span class="value">"__add"</span> <span class="attribute">disabled</span> <span class="attribute">tab</span>=<span class="value">{addBtn}</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">Tabs</span>&gt;</span>
    );
  }
})

ReactDOM.render(<span class="tag">&lt;<span class="title">Test</span> /&gt;</span>, document.getElementById('components-tabs-demo-add'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-add">动态的页签</a>
    </div>
    <p>演示添加删除和附加操作。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>