<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个设计语言&前端框架"/>
    <title>
Motion 组件动画 - Ant Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/dist/antd-0.7.2.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tomorrow.css">
    <script>
      (function (con) {
        'use strict';
        var prop, method;
        var empty = {};
        var dummy = function () {
        };
        var properties = 'memory'.split(',');
        var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
                       'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
                       'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
        while (prop = properties.pop()) {
          con[prop] = con[prop] || empty;
        }
        while (method = methods.pop()) {
          con[method] = con[method] || dummy;
        }
      })(this.console = this.console || {});
    </script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js,es5-shim/4.0.5/es5-shim-debug.js,es5-shim/4.0.5/es5-sham-debug.js,html5shiv/3.7.2/src/html5shiv.js,react/0.13.3/react.js,react-router/0.13.3/ReactRouter.js"></script>
    <script>
      var ANT_COMPONENTS = [];
      ANT_COMPONENTS.push({
        title: 'Layout',
        desc: '布局'
      });
      ANT_COMPONENTS.push({
        title: 'Checkbox',
        desc: '多选框'
      });
      ANT_COMPONENTS.push({
        title: 'Iconfont',
        desc: '字体图标'
      });
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Radio',
        desc: '单选框'
      });
      ANT_COMPONENTS.push({
        title: 'Form',
        desc: '表单'
      });
      ANT_COMPONENTS.push({
        title: 'Switch',
        desc: '开关'
      });
      ANT_COMPONENTS.push({
        title: 'InputNumber',
        desc: '数字输入框'
      });
      ANT_COMPONENTS.push({
        title: 'Motion',
        desc: '组件动画'
      });
      ANT_COMPONENTS.push({
        title: 'Slider',
        desc: '滑动输入条'
      });
      ANT_COMPONENTS.push({
        title: 'Datepicker',
        desc: '日期选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Select',
        desc: '选择器'
      });
      ANT_COMPONENTS.push({
        title: 'Tabs',
        desc: '标签页'
      });
      ANT_COMPONENTS.push({
        title: 'Steps',
        desc: '步骤条'
      });
      ANT_COMPONENTS.push({
        title: 'Breadcrumb',
        desc: '面包屑'
      });
      ANT_COMPONENTS.push({
        title: 'Collapse',
        desc: '折叠面板'
      });
      ANT_COMPONENTS.push({
        title: 'Alert',
        desc: '通知栏'
      });
      ANT_COMPONENTS.push({
        title: 'Notification',
        desc: '系统通知框'
      });
      ANT_COMPONENTS.push({
        title: 'Pagination',
        desc: '分页'
      });
      ANT_COMPONENTS.push({
        title: 'Tree',
        desc: '树形控件'
      });
      ANT_COMPONENTS.push({
        title: 'Carousel',
        desc: '走马灯'
      });
      ANT_COMPONENTS.push({
        title: 'Menu',
        desc: '导航菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Tag',
        desc: '标签'
      });
      ANT_COMPONENTS.push({
        title: 'Affix',
        desc: '固定'
      });
      ANT_COMPONENTS.push({
        title: 'Upload',
        desc: '文件上传'
      });
      ANT_COMPONENTS.push({
        title: 'Modal',
        desc: '对话框'
      });
      ANT_COMPONENTS.push({
        title: 'Message',
        desc: '全局提示'
      });
      ANT_COMPONENTS.push({
        title: 'Dropdown',
        desc: '下拉菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Popover',
        desc: '气泡卡片'
      });
      ANT_COMPONENTS.push({
        title: 'Popconfirm',
        desc: '气泡确认框'
      });
      ANT_COMPONENTS.push({
        title: 'Tooltip',
        desc: '文字提示'
      });
      ANT_COMPONENTS.push({
        title: 'Progress',
        desc: '进度条'
      });
      ANT_COMPONENTS.push({
        title: 'Table',
        desc: '表格'
      });
    </script>
    <script src="/static/script.js"></script>
    <script>
      window.antdVersion = {
        latest: '0.7.2',
        stable: '0.7.1'
      };
    </script>
    <script src="/dist/antd-0.7.2.js"></script>
    <script src="/dist/demo.js"></script>
    <script>
      window.require = function (path) {
        var result = window;
        var namespaces = path.split('/');
        namespaces.forEach(function (key, i) {
          if (i !== 0 && i === namespaces.length - 1) {
            key = capitalizeFirstLetter(key);
          }
          if (key !== 'lib') {
            if (result[key]) {
              result = result[key];
            } else {
              throw 'There should not have modules here 2.';
            }
          }
        });
        function capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
        }

        return result;
      };
    </script>
    
  </head>
  <body >
    <header id="header">
      <a class="logo" href="/">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Ant Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="/">首页</a>
          </li>
          <li class="">
            <a href="/docs/introduce">使用</a>
          </li>
          <li class="">
            <a class="disabled" href="/design/">设计</a>
          </li>
          <li class="current">
            <a href="/components">组件</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
    <li>
      <h4>CSS</h4>
      <ul class="aside-list-show">
        <li class="">
          <a href="../layout/">
            Layout
            <span class="chinese">布局</span>
          </a>
        </li>
        <li class="">
          <a href="../iconfont/">
            Iconfont
            <span class="chinese">字体图标</span>
          </a>
        </li>
        <li class="">
          <a href="../button/">
            Button
            <span class="chinese">按钮</span>
          </a>
        </li>
        <li class="">
          <a href="../form/">
            Form
            <span class="chinese">表单</span>
          </a>
        </li>
        <li class="current">
          <a href="./">
            Motion
            <span class="chinese">组件动画</span>
          </a>
        </li>
        <li class="">
          <a href="../alert/">
            Alert
            <span class="chinese">通知栏</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <h4>Components</h4>
      <ul class="">
        <li class="">
          <a href="../checkbox/">
            Checkbox
            <span class="chinese">多选框</span>
          </a>
        </li>
        <li class="">
          <a href="../radio/">
            Radio
            <span class="chinese">单选框</span>
          </a>
        </li>
        <li class="">
          <a href="../switch/">
            Switch
            <span class="chinese">开关</span>
          </a>
        </li>
        <li class="">
          <a href="../slider/">
            Slider
            <span class="chinese">滑动输入条</span>
          </a>
        </li>
        <li class="">
          <a href="../input-number/">
            InputNumber
            <span class="chinese">数字输入框</span>
          </a>
        </li>
        <li class="">
          <a href="../select/">
            Select
            <span class="chinese">选择器</span>
          </a>
        </li>
        <li class="">
          <a href="../datepicker/">
            Datepicker
            <span class="chinese">日期选择框</span>
          </a>
        </li>
        <li class="">
          <a href="../tabs/">
            Tabs
            <span class="chinese">标签页</span>
          </a>
        </li>
        <li class="">
          <a href="../steps/">
            Steps
            <span class="chinese">步骤条</span>
          </a>
        </li>
        <li class="">
          <a href="../breadcrumb/">
            Breadcrumb
            <span class="chinese">面包屑</span>
          </a>
        </li>
        <li class="">
          <a href="../collapse/">
            Collapse
            <span class="chinese">折叠面板</span>
          </a>
        </li>
        <li class="">
          <a href="../affix/">
            Affix
            <span class="chinese">固定</span>
          </a>
        </li>
        <li class="">
          <a href="../pagination/">
            Pagination
            <span class="chinese">分页</span>
          </a>
        </li>
        <li class="">
          <a href="../tree/">
            Tree
            <span class="chinese">树形控件</span>
          </a>
        </li>
        <li class="">
          <a href="../carousel/">
            Carousel
            <span class="chinese">走马灯</span>
          </a>
        </li>
        <li class="">
          <a href="../menu/">
            Menu
            <span class="chinese">导航菜单</span>
          </a>
        </li>
        <li class="">
          <a href="../tag/">
            Tag
            <span class="chinese">标签</span>
          </a>
        </li>
        <li class="">
          <a href="../upload/">
            Upload
            <span class="chinese">文件上传</span>
          </a>
        </li>
        <li class="">
          <a href="../notification/">
            Notification
            <span class="chinese">系统通知框</span>
          </a>
        </li>
        <li class="">
          <a href="../modal/">
            Modal
            <span class="chinese">对话框</span>
          </a>
        </li>
        <li class="">
          <a href="../message/">
            Message
            <span class="chinese">全局提示</span>
          </a>
        </li>
        <li class="">
          <a href="../dropdown/">
            Dropdown
            <span class="chinese">下拉菜单</span>
          </a>
        </li>
        <li class="">
          <a href="../popover/">
            Popover
            <span class="chinese">气泡卡片</span>
          </a>
        </li>
        <li class="">
          <a href="../popconfirm/">
            Popconfirm
            <span class="chinese">气泡确认框</span>
          </a>
        </li>
        <li class="">
          <a href="../tooltip/">
            Tooltip
            <span class="chinese">文字提示</span>
          </a>
        </li>
        <li class="">
          <a href="../progress/">
            Progress
            <span class="chinese">进度条</span>
          </a>
        </li>
        <li class="">
          <a href="../table/">
            Table
            <span class="chinese">表格</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      Motion 组件动画
    </h1>
    <h2 id="组件的动画">组件的动画</h2><p>通过设置组件的 <code>transitionName</code> 指定组件动画。</p>
<table>
<thead>
<tr>
<th>组件</th>
<th>中文名</th>
<th>采用动画</th>
</tr>
</thead>
<tbody>
<tr>
<td>popover</td>
<td>气泡浮出层</td>
<td><code>zoom-up</code> <code>zoom-down</code> <code>zoom-left</code> <code>zoom-right</code></td>
</tr>
<tr>
<td>popconfirm</td>
<td>气泡确认框</td>
<td><code>zoom-up</code> <code>zoom-down</code> <code>zoom-left</code> <code>zoom-right</code></td>
</tr>
<tr>
<td>tooltip</td>
<td>文字提示框</td>
<td><code>zoom-up</code> <code>zoom-down</code> <code>zoom-left</code> <code>zoom-right</code></td>
</tr>
<tr>
<td>modal</td>
<td>弹出框</td>
<td><code>zoom</code></td>
</tr>
<tr>
<td>confirm</td>
<td>弹出确认框</td>
<td><code>zoom</code></td>
</tr>
<tr>
<td>message</td>
<td>信息提示条</td>
<td><code>move-up</code></td>
</tr>
<tr>
<td>dropdown</td>
<td>下拉菜单</td>
<td><code>slide-up</code></td>
</tr>
<tr>
<td>select</td>
<td>选择框</td>
<td><code>slide-up</code></td>
</tr>
<tr>
<td>datepicker</td>
<td>日期选择框</td>
<td><code>slide-up</code></td>
</tr>
</tbody>
</table>
<h2 id="缓动函数">缓动函数</h2><p>在以上组件的动画不适合时，请用以下缓动。</p>
<table>
<thead>
<tr>
<th>名称</th>
<th>参数</th>
<th>说明与适用</th>
</tr>
</thead>
<tbody>
<tr>
<td>@ease-out</td>
<td><code>cubic-bezier(0.215, 0.61, 0.355, 1);</code></td>
<td>默认后缓动；适合元素展开时；</td>
</tr>
<tr>
<td>@ease-in</td>
<td><code>cubic-bezier(0.55, 0.055, 0.675, 0.19);</code></td>
<td>默认前缓动；适合元素关闭时；</td>
</tr>
<tr>
<td>@ease-in-out</td>
<td><code>cubic-bezier(0.645, 0.045, 0.355, 1);</code></td>
<td>默认前后缓动；适合元素移动；</td>
</tr>
<tr>
<td>@ease-out-back</td>
<td><code>cubic-bezier(0.18, 0.89, 0.32, 1.28);</code></td>
<td>结束回动；适合弹出框出现时；</td>
</tr>
<tr>
<td>@ease-in-back</td>
<td><code>cubic-bezier(0.6, -0.3, 0.74, 0.05);</code></td>
<td>开始回动；适合弹出框关闭；</td>
</tr>
<tr>
<td>@ease-in-out-back</td>
<td><code>cubic-bezier(0.68, -0.55, 0.27, 1.55);</code></td>
<td>前后回动；</td>
</tr>
<tr>
<td>@ease-out-circ</td>
<td><code>cubic-bezier(0.08, 0.82, 0.17, 1);</code></td>
<td>圆形后缓动；适合元素展开时；</td>
</tr>
<tr>
<td>@ease-in-circ</td>
<td><code>cubic-bezier(0.6, 0.04, 0.98, 0.34);</code></td>
<td>圆形前缓动；适合元素关闭时；</td>
</tr>
<tr>
<td>@ease-in-out-circ</td>
<td><code>cubic-bezier(0.78, 0.14, 0.15, 0.86);</code></td>
<td>圆形缓动；适合元素移动；</td>
</tr>
</tbody>
</table>

  </article><h2 class="component-demos">
  组件演示
  <i class="iconfont-home icon-all" title="展开全部代码"></i>
</h2>
<div class="code-boxes clearfix">
    <div class="code-boxes-col-1-1"><div class="code-box" id="code-box-components-motion-demo-basic">
  <div class="code-box-demo">
    <div id="components-motion-demo-basic"></div>
    <script>(function(){'use strict';

var cssAnimation = require('css-animation');
var motions = [];
motions = motions.concat([[{
  name: '淡入',
  value: 'fade',
  direction: 'enter',
  type: '渐隐'
}, {
  name: '淡出',
  value: 'fade',
  direction: 'leave',
  type: '渐隐'
}]]);
motions = motions.concat([[{
  name: '中心放大',
  value: 'zoom',
  direction: 'enter',
  type: '缩放'
}, {
  name: '中心缩小',
  value: 'zoom',
  direction: 'leave',
  type: '缩放'
}, {
  name: '上方放大',
  value: 'zoom-up',
  direction: 'enter',
  type: '缩放'
}, {
  name: '上方缩小',
  value: 'zoom-up',
  direction: 'leave',
  type: '缩放'
}, {
  name: '下方放大',
  value: 'zoom-down',
  direction: 'enter',
  type: '缩放'
}, {
  name: '下方缩小',
  value: 'zoom-down',
  direction: 'leave',
  type: '缩放'
}, {
  name: '左方放大',
  value: 'zoom-left',
  direction: 'enter',
  type: '缩放'
}, {
  name: '左方缩小',
  value: 'zoom-left',
  direction: 'leave',
  type: '缩放'
}, {
  name: '右方放大',
  value: 'zoom-right',
  direction: 'enter',
  type: '缩放'
}, {
  name: '右方缩小',
  value: 'zoom-right',
  direction: 'leave',
  type: '缩放'
}]]);
motions = motions.concat([[{
  name: '上方滑入',
  value: 'move-up',
  direction: 'enter',
  type: '移动'
}, {
  name: '上方滑出',
  value: 'move-up',
  direction: 'leave',
  type: '移动'
}, {
  name: '下方滑入',
  value: 'move-down',
  direction: 'enter',
  type: '移动'
}, {
  name: '下方滑出',
  value: 'move-down',
  direction: 'leave',
  type: '移动'
}, {
  name: '左方滑入',
  value: 'move-left',
  direction: 'enter',
  type: '移动'
}, {
  name: '左方滑出',
  value: 'move-left',
  direction: 'leave',
  type: '移动'
}, {
  name: '右方滑入',
  value: 'move-right',
  direction: 'enter',
  type: '移动'
}, {
  name: '右方滑入',
  value: 'move-right',
  direction: 'leave',
  type: '移动'
}]]);
motions = motions.concat([[{
  name: '上方展开',
  value: 'slide-up',
  direction: 'enter',
  type: '伸缩'
}, {
  name: '上方缩回',
  value: 'slide-up',
  direction: 'leave',
  type: '伸缩'
}, {
  name: '下方展开',
  value: 'slide-down',
  direction: 'enter',
  type: '伸缩'
}, {
  name: '下方缩回',
  value: 'slide-down',
  direction: 'leave',
  type: '伸缩'
}, {
  name: '左方展开',
  value: 'slide-left',
  direction: 'enter',
  type: '伸缩'
}, {
  name: '左方缩回',
  value: 'slide-left',
  direction: 'leave',
  type: '伸缩'
}, {
  name: '右方展开',
  value: 'slide-right',
  direction: 'enter',
  type: '伸缩'
}, {
  name: '右方缩回',
  value: 'slide-right',
  direction: 'leave',
  type: '伸缩'
}]]);
motions = motions.concat([[{
  name: '摇摆',
  value: 'swing',
  direction: 'enter',
  type: '其他'
}]]);
var leave = '-leave';
var Test = React.createClass({
  displayName: 'Test',

  handleChange: function handleChange(e) {
    var _this = this;

    var value = e.target.value;
    if (value) {
      this.demoNode.style.visibility = '';
      cssAnimation(this.demoNode, value, function () {
        if (value.slice(-leave.length) === leave) {
          _this.demoNode.style.visibility = 'hidden';
        }
      });
    }
  },

  componentDidMount: function componentDidMount() {
    this.demoNode = React.findDOMNode(this.refs.demo);
  },

  render: function render() {
    var options = [React.createElement(
      'option',
      { value: "" },
      '请选择预设动画'
    )].concat(motions.map(function (m) {
      var opts = m.map(function (m2) {
        return React.createElement(
          'option',
          { value: m2.value + "-" + m2.direction },
          m2.name + " " + m2.value
        );
      });
      return React.createElement(
        'optgroup',
        { label: m[0].type },
        opts
      );
    }));
    return React.createElement(
      'div',
      null,
      React.createElement(
        'div',
        { className: "motion-container" },
        React.createElement(
          'div',
          { ref: "demo", className: "motion-example" },
          '栗子'
        )
      ),
      React.createElement(
        'div',
        { className: "motion-select" },
        React.createElement(
          'select',
          { onChange: this.handleChange },
          options
        )
      )
    );
  }
});

React.render(React.createElement(Test, null), document.getElementById('components-motion-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> cssAnimation = require(<span class="string">'css-animation'</span>);
<span class="keyword">var</span> motions = [];
motions = motions.concat([[{
  name: <span class="string">'淡入'</span>,
  value: <span class="string">'fade'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'渐隐'</span>
}, {
  name: <span class="string">'淡出'</span>,
  value: <span class="string">'fade'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'渐隐'</span>
}]]);
motions = motions.concat([[{
  name: <span class="string">'中心放大'</span>,
  value: <span class="string">'zoom'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'中心缩小'</span>,
  value: <span class="string">'zoom'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'上方放大'</span>,
  value: <span class="string">'zoom-up'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'上方缩小'</span>,
  value: <span class="string">'zoom-up'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'下方放大'</span>,
  value: <span class="string">'zoom-down'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'下方缩小'</span>,
  value: <span class="string">'zoom-down'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'左方放大'</span>,
  value: <span class="string">'zoom-left'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'左方缩小'</span>,
  value: <span class="string">'zoom-left'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'右方放大'</span>,
  value: <span class="string">'zoom-right'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'缩放'</span>
}, {
  name: <span class="string">'右方缩小'</span>,
  value: <span class="string">'zoom-right'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'缩放'</span>
}]]);
motions = motions.concat([[{
  name: <span class="string">'上方滑入'</span>,
  value: <span class="string">'move-up'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'移动'</span>
}, {
  name: <span class="string">'上方滑出'</span>,
  value: <span class="string">'move-up'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'移动'</span>
}, {
  name: <span class="string">'下方滑入'</span>,
  value: <span class="string">'move-down'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'移动'</span>
}, {
  name: <span class="string">'下方滑出'</span>,
  value: <span class="string">'move-down'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'移动'</span>
}, {
  name: <span class="string">'左方滑入'</span>,
  value: <span class="string">'move-left'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'移动'</span>
}, {
  name: <span class="string">'左方滑出'</span>,
  value: <span class="string">'move-left'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'移动'</span>
}, {
  name: <span class="string">'右方滑入'</span>,
  value: <span class="string">'move-right'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'移动'</span>
}, {
  name: <span class="string">'右方滑入'</span>,
  value: <span class="string">'move-right'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'移动'</span>
}]]);
motions = motions.concat([[{
  name: <span class="string">'上方展开'</span>,
  value: <span class="string">'slide-up'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'伸缩'</span>
}, {
  name: <span class="string">'上方缩回'</span>,
  value: <span class="string">'slide-up'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'伸缩'</span>
}, {
  name: <span class="string">'下方展开'</span>,
  value: <span class="string">'slide-down'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'伸缩'</span>
}, {
  name: <span class="string">'下方缩回'</span>,
  value: <span class="string">'slide-down'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'伸缩'</span>
}, {
  name: <span class="string">'左方展开'</span>,
  value: <span class="string">'slide-left'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'伸缩'</span>
}, {
  name: <span class="string">'左方缩回'</span>,
  value: <span class="string">'slide-left'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'伸缩'</span>
}, {
  name: <span class="string">'右方展开'</span>,
  value: <span class="string">'slide-right'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'伸缩'</span>
}, {
  name: <span class="string">'右方缩回'</span>,
  value: <span class="string">'slide-right'</span>,
  direction: <span class="string">'leave'</span>,
  type: <span class="string">'伸缩'</span>
}]]);
motions = motions.concat([[{
  name: <span class="string">'摇摆'</span>,
  value: <span class="string">'swing'</span>,
  direction: <span class="string">'enter'</span>,
  type: <span class="string">'其他'</span>
}]]);
<span class="keyword">var</span> leave=<span class="string">'-leave'</span>;
<span class="keyword">var</span> Test = React.createClass({
  handleChange(e) {
    <span class="keyword">var</span> value = e.target.value;
    <span class="keyword">if</span>(value){
      <span class="keyword">this</span>.demoNode.style.visibility=<span class="string">''</span>;
      cssAnimation(<span class="keyword">this</span>.demoNode, value, () =&gt; {
        <span class="keyword">if</span>(value.slice(-leave.length)===leave){
          <span class="keyword">this</span>.demoNode.style.visibility=<span class="string">'hidden'</span>;
        }
      });
    }
  },

  componentDidMount() {
    <span class="keyword">this</span>.demoNode = React.findDOMNode(<span class="keyword">this</span>.refs.demo);
  },

  render() {
    <span class="keyword">var</span> options = [<span class="xml"><span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">""</span>&gt;</span>请选择预设动画<span class="tag">&lt;/<span class="title">option</span>&gt;</span>].concat(motions.map(function (m) {
      var opts = m.map(function (m2) {
        return <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">{m2.value</span> + "<span class="attribute">-</span>" + <span class="attribute">m2.direction</span>}&gt;</span>{m2.name + " " + m2.value}<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      });
      return <span class="tag">&lt;<span class="title">optgroup</span> <span class="attribute">label</span>=<span class="value">{m[0].type}</span>&gt;</span>{opts}<span class="tag">&lt;/<span class="title">optgroup</span>&gt;</span>;</span>
    }));
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"motion-container"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">ref</span>=<span class="value">"demo"</span> <span class="attribute">className</span>=<span class="value">"motion-example"</span>&gt;</span>栗子<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"motion-select"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">select</span> <span class="attribute">onChange</span>=<span class="value">{this.handleChange}</span>&gt;</span>{options}<span class="tag">&lt;/<span class="title">select</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

React.render(<span class="xml"><span class="tag">&lt;<span class="title">Test</span>/&gt;</span>, document.getElementById('components-motion-demo-basic'));</span></code></pre></div><style>
.motion-container {
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin-bottom: 20px;
}
.motion-example {
  background: #4AAFDE;
  width: 140px;
  height: 140px;
  line-height: 140px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  display: inline-block !important;
  border-radius: 8px;
  font-weight: bold;
}
.motion-select {
  text-align: center;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#code-box-components-motion-demo-basic">基本</a>
    </div>
    <p>动画效果示例。</p>
    <span class="collapse anticon anticon-circle-o-right"></span>
  </div>
</div>
    </div>
</div>
</section>

    </div><footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ant-design/ant-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/ant-design/tree/master/style">样式</a>
      <a target="_blank" href="https://github.com/ant-design/antd-bin">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="http://www.atatech.org/teams/79">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ant-design/ant-design/issues">问题与建议 - Issues</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
    </li>
  </ul>
</footer>
  </body>
</html>