<div class="code-box">
  <div class="code-box-demo">
    <div id="components-pagination-demo-changer"></div>
    <script>(function(){'use strict';

var Pagination = antd.Pagination;

function onChange(page) {
  console.log(page);
}

React.render(React.createElement(Pagination, { showSizeChanger: true, onChange: onChange, total: 500 }), document.getElementById('components-pagination-demo-changer'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Pagination = antd.Pagination;

<span class="function"><span class="keyword">function</span> <span class="title">onChange</span><span class="params">(page)</span> {</span>
  console.log(page);
}

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Pagination</span> <span class="attribute">showSizeChanger</span>=<span class="value">{true}</span> <span class="attribute">onChange</span>=<span class="value">{onChange}</span> <span class="attribute">total</span>=<span class="value">{500}</span> /&gt;</span>,
 document.getElementById('components-pagination-demo-changer'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">改变</div>
    <p>改变每页显示条目数。</p>
    <span class="collapse anticon anticon-circle-o-right"></span>
  </div>
</div>