<div class="code-box" id="demo-simple">
  <div class="code-box-demo">
    <div id="components-pagination-demo-simple"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

function onChange(page) {
  console.log(page);
}

ReactDOM.render(React.createElement(_antd.Pagination, { simple: true, onChange: onChange, total: 50 }), document.getElementById('components-pagination-demo-simple'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Pagination } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onChange</span>(<span class="hljs-params">page</span>) </span>{
  <span class="hljs-built_in">console</span>.log(page);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Pagination</span> <span class="hljs-attribute">simple</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{onChange}</span> <span class="hljs-attribute">total</span>=<span class="hljs-value">{50}</span> /&gt;</span>,
document.getElementById('components-pagination-demo-simple'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-simple">简洁</a>
    </div>
    <p>简单地翻页。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>