<div class="code-box" id="demo-trigger">
  <div class="code-box-demo">
    <div id="components-dropdown-demo-trigger"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var menu = React.createElement(
  _antd.Menu,
  null,
  React.createElement(
    _antd.Menu.Item,
    { key: "0" },
    React.createElement(
      "a",
      { href: "http://www.alipay.com/" },
      "第一个菜单项"
    )
  ),
  React.createElement(
    _antd.Menu.Item,
    { key: "1" },
    React.createElement(
      "a",
      { href: "http://www.taobao.com/" },
      "第二个菜单项"
    )
  ),
  React.createElement(_antd.Menu.Divider, null),
  React.createElement(
    _antd.Menu.Item,
    { key: "3" },
    "第三个菜单项"
  )
);

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    _antd.Dropdown,
    { overlay: menu, trigger: "click" },
    React.createElement(
      _antd.Button,
      { type: "primary" },
      "点击触发 ",
      React.createElement(_antd.Icon, { type: "down" })
    )
  ),
  React.createElement(
    _antd.Dropdown,
    { overlay: menu },
    React.createElement(
      _antd.Button,
      null,
      "鼠标移入 ",
      React.createElement(_antd.Icon, { type: "down" })
    )
  )
), document.getElementById('components-dropdown-demo-trigger'));})()</script><div class="highlight"><pre><code class="javascript">import { Menu, Dropdown, Button, Icon } from <span class="string">'antd'</span>;

<span class="keyword">const</span> menu = <span class="xml"><span class="tag">&lt;<span class="title">Menu</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"http://www.alipay.com/"</span>&gt;</span>第一个菜单项<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"http://www.taobao.com/"</span>&gt;</span>第二个菜单项<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Divider</span>/&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"3"</span>&gt;</span>第三个菜单项<span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
<span class="tag">&lt;/<span class="title">Menu</span>&gt;</span>;</span>

ReactDOM.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Dropdown</span> <span class="attribute">overlay</span>=<span class="value">{menu}</span> <span class="attribute">trigger</span>=<span class="value">"click"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span>&gt;</span>
      点击触发 <span class="tag">&lt;<span class="title">Icon</span> <span class="attribute">type</span>=<span class="value">"down"</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Dropdown</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Dropdown</span> <span class="attribute">overlay</span>=<span class="value">{menu}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Button</span>&gt;</span>
      鼠标移入 <span class="tag">&lt;<span class="title">Icon</span> <span class="attribute">type</span>=<span class="value">"down"</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Dropdown</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-dropdown-demo-trigger'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-trigger">触发方式</a>
    </div>
    <p>点击或鼠标移入触发。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>