<div class="code-box" id="demo-placement">
  <div class="code-box-demo">
    <div id="components-popover-demo-placement"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var text = React.createElement(
  "span",
  null,
  "标题"
);
var content = React.createElement(
  "div",
  null,
  React.createElement(
    "p",
    null,
    "内容"
  ),
  React.createElement(
    "p",
    null,
    "内容"
  )
);

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    _antd.Popover,
    { placement: "left", title: text, overlay: content },
    React.createElement(
      _antd.Button,
      null,
      "左"
    )
  ),
  React.createElement(
    _antd.Popover,
    { placement: "top", title: text, overlay: content },
    React.createElement(
      _antd.Button,
      null,
      "上"
    )
  ),
  React.createElement(
    _antd.Popover,
    { placement: "bottom", title: text, overlay: content },
    React.createElement(
      _antd.Button,
      null,
      "下"
    )
  ),
  React.createElement(
    _antd.Popover,
    { placement: "right", title: text, overlay: content },
    React.createElement(
      _antd.Button,
      null,
      "右"
    )
  )
), document.getElementById('components-popover-demo-placement'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Popover, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> text = <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>标题<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>;</span>
<span class="hljs-keyword">const</span> content = <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"left"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>左<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"top"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>上<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"bottom"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>下<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"right"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>右<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, document.getElementById('components-popover-demo-placement'));</span></code></pre></div><style>
.code-box-demo .ant-btn {
  margin-right: 1em;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-placement">位置</a>
    </div>
    <p>位置有四个方向。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>