<div class="code-box" id="demo-checkbox">
  <div class="code-box-demo">
    <div id="components-tree-demo-checkbox"></div>
    <script>(function(){"use strict";

var Tree = antd.Tree;
var TreeNode = Tree.TreeNode;
function handleCheck(checked, node, checkedKeys) {
  console.log('checked:', checked, node, checkedKeys);
}

React.render(React.createElement(
  Tree,
  { defaultExpandAll: true, checkable: React.createElement("span", { className: "ant-tree-checkbox-inner" }), onCheck: handleCheck },
  React.createElement(
    TreeNode,
    { title: "parent 1" },
    React.createElement(
      TreeNode,
      null,
      "leaf"
    ),
    React.createElement(
      TreeNode,
      { title: "parent 1-1" },
      React.createElement(
        TreeNode,
        { title: "parent 2-1" },
        React.createElement(
          TreeNode,
          null,
          "leaf"
        ),
        React.createElement(
          TreeNode,
          null,
          "leaf"
        )
      ),
      React.createElement(
        TreeNode,
        null,
        "leaf"
      ),
      React.createElement(
        TreeNode,
        null,
        "leaf"
      )
    )
  ),
  React.createElement(
    TreeNode,
    null,
    "leaf"
  ),
  React.createElement(
    TreeNode,
    null,
    "leaf"
  )
), document.getElementById('components-tree-demo-checkbox'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Tree = antd.Tree;
<span class="keyword">var</span> TreeNode = Tree.TreeNode;
<span class="function"><span class="keyword">function</span> <span class="title">handleCheck</span><span class="params">(checked, node, checkedKeys)</span> {</span>
  console.log(<span class="string">'checked:'</span>, checked, node, checkedKeys);
}

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Tree</span> <span class="attribute">defaultExpandAll</span>=<span class="value">{true}</span> <span class="attribute">checkable</span>=<span class="value">{&lt;span</span> <span class="attribute">className</span>=<span class="value">"ant-tree-checkbox-inner"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>} onCheck={handleCheck}&gt;
    <span class="tag">&lt;<span class="title">TreeNode</span> <span class="attribute">title</span>=<span class="value">"parent 1"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">TreeNode</span>&gt;</span>leaf<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
      <span class="tag">&lt;<span class="title">TreeNode</span> <span class="attribute">title</span>=<span class="value">"parent 1-1"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">TreeNode</span> <span class="attribute">title</span>=<span class="value">"parent 2-1"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">TreeNode</span>&gt;</span>leaf<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
          <span class="tag">&lt;<span class="title">TreeNode</span>&gt;</span>leaf<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
        <span class="tag">&lt;<span class="title">TreeNode</span>&gt;</span>leaf<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
        <span class="tag">&lt;<span class="title">TreeNode</span>&gt;</span>leaf<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
    <span class="tag">&lt;<span class="title">TreeNode</span>&gt;</span>leaf<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
    <span class="tag">&lt;<span class="title">TreeNode</span>&gt;</span>leaf<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Tree</span>&gt;</span>
, document.getElementById('components-tree-demo-checkbox'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-checkbox">可选择</a>
    </div>
    <p>提供复选框操作功能。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>