<div class="code-box" id="demo-contextmenu">
  <div class="code-box-demo">
    <div id="components-tree-demo-contextmenu"></div>
    <script>mountNode = document.getElementById('components-tree-demo-contextmenu');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var _objectAssign = require('object-assign');

var _objectAssign2 = _interopRequireDefault(_objectAssign);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

var TreeNode = _antd.Tree.TreeNode;

function contains(root, n) {
  var node = n;
  while (node) {
    if (node === root) {
      return true;
    }
    node = node.parentNode;
  }
  return false;
}

var Demo = React.createClass({
  displayName: 'Demo',

  propTypes: {},
  componentDidMount: function componentDidMount() {
    this.getContainer();
    // console.log(ReactDOM.findDOMNode(this), this.cmContainer);
    console.log(contains(ReactDOM.findDOMNode(this), this.cmContainer));
  },
  componentWillUnmount: function componentWillUnmount() {
    if (this.cmContainer) {
      ReactDOM.unmountComponentAtNode(this.cmContainer);
      document.body.removeChild(this.cmContainer);
      this.cmContainer = null;
    }
  },
  onSelect: function onSelect(info) {
    console.log('selected', info);
  },
  onRightClick: function onRightClick(info) {
    console.log('right click', info);
    this.renderCm(info);
  },
  onMouseEnter: function onMouseEnter(info) {
    console.log('enter', info);
    this.renderCm(info);
  },
  onMouseLeave: function onMouseLeave(info) {
    console.log('leave', info);
  },
  getContainer: function getContainer() {
    if (!this.cmContainer) {
      this.cmContainer = document.createElement('div');
      document.body.appendChild(this.cmContainer);
    }
    return this.cmContainer;
  },
  renderCm: function renderCm(info) {
    if (this.toolTip) {
      ReactDOM.unmountComponentAtNode(this.cmContainer);
      this.toolTip = null;
    }
    this.toolTip = React.createElement(
      _antd.Tooltip,
      { trigger: 'click', placement: 'bottomRight', prefixCls: 'rc-tree-contextmenu', defaultVisible: true, overlay: React.createElement(
          'h4',
          null,
          info.node.props.title
        ) },
      React.createElement('span', null)
    );

    var container = this.getContainer();
    (0, _objectAssign2.default)(this.cmContainer.style, {
      position: 'absolute',
      left: info.event.pageX + 'px',
      top: info.event.pageY + 'px'
    });

    ReactDOM.render(this.toolTip, container);
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        'h2',
        null,
        'right click contextmenu'
      ),
      React.createElement(
        _antd.Tree,
        { onRightClick: this.onRightClick, onSelect: this.onSelect,
          defaultSelectedKeys: ['0-1', '0-1-1'],
          multiple: true, defaultExpandAll: true, showLine: true },
        React.createElement(
          TreeNode,
          { title: 'parent 1', key: '0-1' },
          React.createElement(
            TreeNode,
            { title: 'parent 1-0', key: '0-1-1' },
            React.createElement(TreeNode, { title: 'leaf0' }),
            React.createElement(TreeNode, { title: 'leaf1' }),
            React.createElement(TreeNode, { title: 'leaf2' })
          ),
          React.createElement(
            TreeNode,
            { title: 'parent 1-1' },
            React.createElement(TreeNode, { title: 'leaf' })
          )
        )
      ),
      React.createElement(
        'h2',
        null,
        'hover popup contextmenu'
      ),
      React.createElement(
        _antd.Tree,
        { onMouseEnter: this.onMouseEnter, onMouseLeave: this.onMouseLeave, onSelect: this.onSelect, multiple: true, defaultExpandAll: true, showLine: true },
        React.createElement(
          TreeNode,
          { title: 'parent 1', key: '0-1' },
          React.createElement(
            TreeNode,
            { title: 'parent 1-0', key: '0-1-1' },
            React.createElement(TreeNode, { title: 'leaf' }),
            React.createElement(TreeNode, { title: 'leaf' })
          ),
          React.createElement(
            TreeNode,
            { title: 'parent 1-1' },
            React.createElement(TreeNode, { title: 'leaf' })
          )
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree, Tooltip } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">import</span> assign <span class="hljs-keyword">from</span> <span class="hljs-string">'object-assign'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">contains</span>(<span class="hljs-params">root, n</span>) </span>{
  <span class="hljs-keyword">let</span> node = n;
  <span class="hljs-keyword">while</span> (node) {
    <span class="hljs-keyword">if</span> (node === root) {
      <span class="hljs-keyword">return</span> <span class="hljs-literal">true</span>;
    }
    node = node.parentNode;
  }
  <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
}

<span class="hljs-keyword">const</span> Demo = React.createClass({
  propTypes: {},
  componentDidMount() {
    <span class="hljs-keyword">this</span>.getContainer();
    <span class="hljs-comment">// console.log(ReactDOM.findDOMNode(this), this.cmContainer);</span>
    <span class="hljs-built_in">console</span>.log(contains(ReactDOM.findDOMNode(<span class="hljs-keyword">this</span>), <span class="hljs-keyword">this</span>.cmContainer));
  },
  componentWillUnmount() {
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.cmContainer) {
      ReactDOM.unmountComponentAtNode(<span class="hljs-keyword">this</span>.cmContainer);
      <span class="hljs-built_in">document</span>.body.removeChild(<span class="hljs-keyword">this</span>.cmContainer);
      <span class="hljs-keyword">this</span>.cmContainer = <span class="hljs-literal">null</span>;
    }
  },
  onSelect(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected'</span>, info);
  },
  onRightClick(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'right click'</span>, info);
    <span class="hljs-keyword">this</span>.renderCm(info);
  },
  onMouseEnter(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'enter'</span>, info);
    <span class="hljs-keyword">this</span>.renderCm(info);
  },
  onMouseLeave(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'leave'</span>, info);
  },
  getContainer() {
    <span class="hljs-keyword">if</span> (!<span class="hljs-keyword">this</span>.cmContainer) {
      <span class="hljs-keyword">this</span>.cmContainer = <span class="hljs-built_in">document</span>.createElement(<span class="hljs-string">'div'</span>);
      <span class="hljs-built_in">document</span>.body.appendChild(<span class="hljs-keyword">this</span>.cmContainer);
    }
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.cmContainer;
  },
  renderCm(info) {
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.toolTip) {
      ReactDOM.unmountComponentAtNode(<span class="hljs-keyword">this</span>.cmContainer);
      <span class="hljs-keyword">this</span>.toolTip = <span class="hljs-literal">null</span>;
    }
    <span class="hljs-keyword">this</span>.toolTip = (<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tooltip</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"bottomRight"</span> <span class="hljs-attribute">prefixCls</span>=<span class="hljs-value">"rc-tree-contextmenu"</span> <span class="hljs-attribute">defaultVisible</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{&lt;h4</span>&gt;</span>{info.node.props.title}<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>}&gt;
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Tooltip</span>&gt;</span>)</span>;

    <span class="hljs-keyword">const</span> container = <span class="hljs-keyword">this</span>.getContainer();
    assign(<span class="hljs-keyword">this</span>.cmContainer.style, {
      position: <span class="hljs-string">'absolute'</span>,
      left: info.event.pageX + <span class="hljs-string">'px'</span>,
      top: info.event.pageY + <span class="hljs-string">'px'</span>,
    });

    ReactDOM.render(<span class="hljs-keyword">this</span>.toolTip, container);
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>right click contextmenu<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">onRightClick</span>=<span class="hljs-value">{this.onRightClick}</span> <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span>
          <span class="hljs-attribute">defaultSelectedKeys</span>=<span class="hljs-value">{['0-1',</span> '<span class="hljs-attribute">0-1-1</span>']}
          <span class="hljs-attribute">multiple</span> <span class="hljs-attribute">defaultExpandAll</span> <span class="hljs-attribute">showLine</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-1"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-0"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-1-1"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf0"</span> /&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf1"</span> /&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf2"</span> /&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-1"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> /&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>hover popup contextmenu<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">onMouseEnter</span>=<span class="hljs-value">{this.onMouseEnter}</span> <span class="hljs-attribute">onMouseLeave</span>=<span class="hljs-value">{this.onMouseLeave}</span> <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span> <span class="hljs-attribute">multiple</span> <span class="hljs-attribute">defaultExpandAll</span> <span class="hljs-attribute">showLine</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-1"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-0"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-1-1"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> /&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> /&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-1"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> /&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-contextmenu">右键菜单</a>
    </div>
    <p>右键菜单示例</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>