<div class="code-box" id="demo-dynamic">
  <div class="code-box-demo">
    <div id="components-tree-demo-dynamic"></div>
    <script>(function(){"use strict";

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) arr2[i] = arr[i]; return arr2; } else { return Array.from(arr); } }

var _antd = require('antd');

var TreeNode = _antd.Tree.TreeNode;

var asyncTree = [{ name: "pNode 01", key: "0-0" }];

var generateTreeNodes = function generateTreeNodes() {
  var arr = [{ name: "伯约", key: "0-0-0" }];
  return arr;
};

var TreeDemo = React.createClass({
  displayName: "TreeDemo",

  timeout: function timeout() {
    var _this = this;

    var duration = arguments.length <= 0 || arguments[0] === undefined ? 0 : arguments[0];

    return new Promise(function (resolve, reject) {
      setTimeout(resolve.bind(_this), duration);
    });
  },
  getInitialState: function getInitialState() {
    return {
      treeData: []
    };
  },
  componentDidMount: function componentDidMount() {
    var _this2 = this;

    this.timeout(1000).then(function () {
      _this2.setState({
        treeData: asyncTree
      });
      return asyncTree;
    });
  },
  handleSelect: function handleSelect(info) {
    console.log('selected', info);
  },
  handleDataLoaded: function handleDataLoaded(treeNode) {
    var _this3 = this;

    return this.timeout(1000).then(function () {
      var child = generateTreeNodes();
      var treeData = [].concat(_toConsumableArray(_this3.state.treeData));
      treeData.forEach(function (item) {
        if (item.key === treeNode.props.eventKey) {
          item.children = child;
        }
      });
      _this3.setState({ treeData: treeData });
      return child;
    });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { title: item.name, key: item.key },
            loop(item.children)
          );
        } else {
          return React.createElement(TreeNode, { title: item.name, key: item.key });
        }
      });
    };
    var parseTreeNode = function parseTreeNode(data) {
      return loop(data);
    };
    var treeNodes = parseTreeNode(this.state.treeData);
    return React.createElement(
      _antd.Tree,
      { onSelect: this.handleSelect, onDataLoaded: this.handleDataLoaded, showLine: false },
      treeNodes
    );
  }
});

ReactDOM.render(React.createElement(TreeDemo, null), document.getElementById('components-tree-demo-dynamic'));})()</script><div class="highlight"><pre><code class="javascript">import { Tree } from <span class="string">'antd'</span>;
<span class="keyword">const</span> TreeNode = Tree.TreeNode;

<span class="keyword">const</span> asyncTree = [
  {name: <span class="string">"pNode 01"</span>, key: <span class="string">"0-0"</span>},
];

<span class="keyword">const</span> generateTreeNodes = () =&gt; {
  <span class="keyword">const</span> arr  = [
       {name: <span class="string">"伯约"</span>, key: <span class="string">"0-0-0"</span>},
  ];
  <span class="keyword">return</span> arr;
}

<span class="keyword">const</span> TreeDemo = React.createClass({
  timeout(duration = <span class="number">0</span>) {
    <span class="keyword">return</span> <span class="keyword">new</span> Promise((resolve, reject) =&gt; {
        setTimeout(resolve.bind(<span class="keyword">this</span>), duration);
    })
  },
  getInitialState() {
    <span class="keyword">return</span> {
      treeData: []
    };
  },
  componentDidMount() {
    <span class="keyword">this</span>.timeout(<span class="number">1000</span>).then(() =&gt; {
      <span class="keyword">this</span>.setState({
        treeData: asyncTree
      });
      <span class="keyword">return</span> asyncTree;
    });
  },
  handleSelect(info) {
    console.log(<span class="string">'selected'</span>, info);
  },
  handleDataLoaded(treeNode) {
    <span class="keyword">return</span> <span class="keyword">this</span>.timeout(<span class="number">1000</span>).then(() =&gt; {
      <span class="keyword">const</span> child = generateTreeNodes();
      <span class="keyword">const</span> treeData = [...<span class="keyword">this</span>.state.treeData];
      treeData.forEach((item) =&gt; {
        <span class="keyword">if</span> (item.key === treeNode.props.eventKey) {
          item.children = child;
        }
      });
      <span class="keyword">this</span>.setState({treeData});
      <span class="keyword">return</span> child;
    });
  },
  render() {
    <span class="keyword">const</span> loop = (data) =&gt; {
      <span class="keyword">return</span> data.map((item) =&gt; {
        <span class="keyword">if</span> (item.children) {
          <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">TreeNode</span> <span class="attribute">title</span>=<span class="value">{item.name}</span> <span class="attribute">key</span>=<span class="value">{item.key}</span>&gt;</span>{loop(item.children)}<span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>;</span>
        } <span class="keyword">else</span> {
          <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">TreeNode</span> <span class="attribute">title</span>=<span class="value">{item.name}</span> <span class="attribute">key</span>=<span class="value">{item.key}</span>&gt;</span><span class="tag">&lt;/<span class="title">TreeNode</span>&gt;</span>;</span>
        }
      })
    };
    <span class="keyword">const</span> parseTreeNode = data =&gt; loop(data);
    <span class="keyword">let</span> treeNodes = parseTreeNode(<span class="keyword">this</span>.state.treeData);
    <span class="keyword">return</span> (
        <span class="xml"><span class="tag">&lt;<span class="title">Tree</span> <span class="attribute">onSelect</span>=<span class="value">{this.handleSelect}</span> <span class="attribute">onDataLoaded</span>=<span class="value">{this.handleDataLoaded}</span> <span class="attribute">showLine</span>=<span class="value">{false}</span>&gt;</span>
          {treeNodes}
        <span class="tag">&lt;/<span class="title">Tree</span>&gt;</span>
    )
  }
})

ReactDOM.render(<span class="tag">&lt;<span class="title">TreeDemo</span> /&gt;</span>, document.getElementById('components-tree-demo-dynamic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-dynamic">异步数据加载</a>
    </div>
    <p>异步加载数据</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>