<div class="code-box" id="demo-horizontal-form">
  <div class="code-box-demo">
    <div id="components-form-demo-horizontal-form"></div>
    <script>(function(){"use strict";

var Form = antd.Form;
var Input = Form.Input;
var FormItem = Form.Item;
var Button = antd.Button;
var Checkbox = antd.Checkbox;
var Radio = antd.Radio;
var RadioGroup = antd.Radio.Group;
var Button = antd.Button;

React.render(React.createElement(
  Form,
  { horizontal: true },
  React.createElement(
    FormItem,
    {
      label: "用户名：",
      labelClassName: "col-6",
      wrapperClassName: "col-6",
      required: true,
      isCompact: true },
    React.createElement(Input, { type: "static", value: "大眼萌 minion", id: "userName" })
  ),
  React.createElement(
    FormItem,
    {
      label: "密码：",
      labelClassName: "col-6",
      wrapperClassName: "col-14",
      required: true },
    React.createElement(Input, { type: "password", id: "password", placeholder: "请输入密码" })
  ),
  React.createElement(
    FormItem,
    {
      label: "您的性别：",
      labelClassName: "col-6",
      wrapperClassName: "col-14",
      required: true,
      isCompact: true },
    React.createElement(
      RadioGroup,
      { value: "male" },
      React.createElement(
        Radio,
        { value: "male" },
        "男的"
      ),
      React.createElement(
        Radio,
        { value: "female" },
        "女的"
      )
    )
  ),
  React.createElement(
    FormItem,
    {
      label: "备注：",
      labelClassName: "col-6",
      wrapperClassName: "col-14",
      required: true,
      help: "随便写点什么" },
    React.createElement(Input, { type: "textarea", placeholder: "随便写", id: "remark" })
  ),
  React.createElement(
    FormItem,
    {
      wrapperClassName: "col-14 col-offset-6" },
    React.createElement(
      "label",
      null,
      React.createElement(Checkbox, null),
      " 同意"
    )
  ),
  React.createElement(
    "div",
    { className: "row" },
    React.createElement(
      "div",
      { className: "col-16 col-offset-6" },
      React.createElement(
        Button,
        { type: "primary" },
        "确定"
      )
    )
  )
), document.getElementById('components-form-demo-horizontal-form'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Form = antd.Form;
<span class="keyword">var</span> Input = Form.Input;
<span class="keyword">var</span> FormItem = Form.Item;
<span class="keyword">var</span> Button = antd.Button;
<span class="keyword">var</span> Checkbox = antd.Checkbox;
<span class="keyword">var</span> Radio = antd.Radio;
<span class="keyword">var</span> RadioGroup = antd.Radio.Group;
<span class="keyword">var</span> Button = antd.Button;

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">Form</span> <span class="attribute">horizontal</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"用户名："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">required</span>=<span class="value">{true}</span>
    <span class="attribute">isCompact</span>=<span class="value">{true}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"static"</span> <span class="attribute">value</span>=<span class="value">"大眼萌 minion"</span> <span class="attribute">id</span>=<span class="value">"userName"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"密码："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-14"</span>
    <span class="attribute">required</span>=<span class="value">{true}</span> &gt;</span>
    <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"password"</span> <span class="attribute">id</span>=<span class="value">"password"</span> <span class="attribute">placeholder</span>=<span class="value">"请输入密码"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"您的性别："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-14"</span>
    <span class="attribute">required</span>=<span class="value">{true}</span>
    <span class="attribute">isCompact</span>=<span class="value">{true}</span>&gt;</span>
      <span class="tag">&lt;<span class="title">RadioGroup</span> <span class="attribute">value</span>=<span class="value">"male"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"male"</span>&gt;</span>男的<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"female"</span>&gt;</span>女的<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">RadioGroup</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"备注："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-14"</span>
    <span class="attribute">required</span>=<span class="value">{true}</span>
    <span class="attribute">help</span>=<span class="value">"随便写点什么"</span> &gt;</span>
    <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"textarea"</span> <span class="attribute">placeholder</span>=<span class="value">"随便写"</span> <span class="attribute">id</span>=<span class="value">"remark"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">wrapperClassName</span>=<span class="value">"col-14 col-offset-6"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Checkbox</span> /&gt;</span> 同意
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"row"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16 col-offset-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span>&gt;</span>确定<span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">Form</span>&gt;</span>

, document.getElementById('components-form-demo-horizontal-form'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-horizontal-form">水平排列的表单</a>
    </div>
    <p><strong>注意</strong>：在我们的设计里，表单域为静态文本、<code>checkbox</code>、<code>radio</code>以及<code>input[type=&quot;file&quot;]</code>的，其高度不同于一般的表单域，<strong>需要将 <code>&lt;Form.Item&gt;</code> 的 <code>isCompact</code> 设置为 true</strong>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>