<div class="code-box" id="demo-inline-form">
  <div class="code-box-demo">
    <div id="components-form-demo-inline-form"></div>
    <script>(function(){"use strict";

var Form = antd.Form;
var Input = Form.Input;
var FormItem = Form.Item;
var Checkbox = antd.Checkbox;
var Button = antd.Button;

React.render(React.createElement(
  Form,
  { inline: true },
  React.createElement(
    FormItem,
    {
      label: "账户：" },
    React.createElement(Input, { type: "text", placeholder: "请输入账户名", id: "userName" })
  ),
  React.createElement(
    FormItem,
    {
      label: "密码：" },
    React.createElement(Input, { type: "password", placeholder: "请输入密码", id: "password2" })
  ),
  React.createElement(
    FormItem,
    {
      type: "checkbox" },
    React.createElement(
      "label",
      { className: "ant-checkbox-inline" },
      React.createElement(Checkbox, null),
      " 记住我"
    )
  ),
  React.createElement("input", { type: "submit", className: "ant-btn ant-btn-primary", value: "登 录" })
), document.getElementById('components-form-demo-inline-form'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Form = antd.Form;
<span class="keyword">var</span> Input = Form.Input;
<span class="keyword">var</span> FormItem = Form.Item;
<span class="keyword">var</span> Checkbox = antd.Checkbox;
<span class="keyword">var</span> Button = antd.Button;

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">Form</span> <span class="attribute">inline</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"账户："</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">placeholder</span>=<span class="value">"请输入账户名"</span> <span class="attribute">id</span>=<span class="value">"userName"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"密码："</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"password"</span> <span class="attribute">placeholder</span>=<span class="value">"请输入密码"</span> <span class="attribute">id</span>=<span class="value">"password2"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">type</span>=<span class="value">"checkbox"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"ant-checkbox-inline"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Checkbox</span> /&gt;</span> 记住我
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"submit"</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">value</span>=<span class="value">"登 录"</span> /&gt;</span>
<span class="tag">&lt;/<span class="title">Form</span>&gt;</span>
, document.getElementById('components-form-demo-inline-form'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-inline-form">行内排列的表单</a>
    </div>
    
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>