<div class="code-box" id="demo-inputs">
  <div class="code-box-demo">
    <div id="components-form-demo-inputs"></div>
    <script>(function(){"use strict";

var Form = antd.Form;
var Input = Form.Input;
var FormItem = Form.Item;
var InputGroup = Input.Group;
var Select = antd.Select;
var Option = Select.Option;

React.render(React.createElement(
  Form,
  { horizontal: true },
  React.createElement(
    FormItem,
    {
      label: "标签输入框：",
      labelClassName: "col-6",
      wrapperClassName: "col-16" },
    React.createElement(Input, { type: "text", addonBefore: "Http://", value: "mysite.com", id: "site1" })
  ),
  React.createElement(
    FormItem,
    {
      label: "标签输入框：",
      labelClassName: "col-6",
      wrapperClassName: "col-16" },
    React.createElement(Input, { type: "text", addonBefore: "Http://", addonAfter: ".com", value: "mysite", id: "site2" })
  ),
  React.createElement(
    FormItem,
    {
      label: "select 标签输入框：",
      labelClassName: "col-6",
      wrapperClassName: "col-16" },
    React.createElement(
      InputGroup,
      null,
      React.createElement(Input, { type: "text", id: "site4", placeholder: "www.mysite" }),
      React.createElement(
        "div",
        { className: "ant-input-group-wrap" },
        React.createElement(
          Select,
          { defaultValue: ".com", style: { width: 70 } },
          React.createElement(
            Option,
            { value: ".com" },
            ".com"
          ),
          React.createElement(
            Option,
            { value: ".jp" },
            ".jp"
          ),
          React.createElement(
            Option,
            { value: ".cn" },
            ".cn"
          ),
          React.createElement(
            Option,
            { value: ".org" },
            ".org"
          )
        )
      )
    )
  ),
  React.createElement(
    FormItem,
    {
      label: "输入身份证：",
      labelClassName: "col-6",
      wrapperClassName: "col-16" },
    React.createElement(
      InputGroup,
      null,
      React.createElement(
        "div",
        { className: "col-6" },
        React.createElement(Input, { type: "text", id: "certNo1" })
      ),
      React.createElement(
        "div",
        { className: "col-6" },
        React.createElement(Input, { type: "text", id: "certNo2" })
      ),
      React.createElement(
        "div",
        { className: "col-6" },
        React.createElement(Input, { type: "text", id: "certNo3" })
      ),
      React.createElement(
        "div",
        { className: "col-6" },
        React.createElement(Input, { type: "text", id: "certNo4" })
      )
    )
  ),
  React.createElement(
    FormItem,
    {
      label: "电话号码：",
      labelClassName: "col-6",
      wrapperClassName: "col-16" },
    React.createElement(
      "div",
      { className: "row" },
      React.createElement(
        "div",
        { className: "col-4" },
        React.createElement(Input, { type: "text", id: "tel1", value: "086" })
      ),
      React.createElement(
        "div",
        { className: "col-2" },
        React.createElement(
          "p",
          { className: "ant-form-split" },
          "--"
        )
      ),
      React.createElement(
        "div",
        { className: "col-18" },
        React.createElement(
          InputGroup,
          { type: "group" },
          React.createElement(
            "div",
            { className: "col-8" },
            React.createElement(Input, { type: "text", id: "tel1" })
          ),
          React.createElement(
            "div",
            { className: "col-8" },
            React.createElement(Input, { type: "text", id: "tel2" })
          ),
          React.createElement(
            "div",
            { className: "col-8" },
            React.createElement(Input, { type: "text", id: "tel3" })
          )
        )
      )
    )
  )
), document.getElementById('components-form-demo-inputs'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Form = antd.Form;
<span class="keyword">var</span> Input = Form.Input;
<span class="keyword">var</span> FormItem = Form.Item;
<span class="keyword">var</span> InputGroup = Input.Group;
<span class="keyword">var</span> Select = antd.Select;
<span class="keyword">var</span> Option = Select.Option;

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">Form</span> <span class="attribute">horizontal</span>&gt;</span>
  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"标签输入框："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-16"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">addonBefore</span>=<span class="value">"Http://"</span> <span class="attribute">value</span>=<span class="value">"mysite.com"</span> <span class="attribute">id</span>=<span class="value">"site1"</span>/&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>

  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"标签输入框："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-16"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">addonBefore</span>=<span class="value">"Http://"</span>  <span class="attribute">addonAfter</span>=<span class="value">".com"</span> <span class="attribute">value</span>=<span class="value">"mysite"</span> <span class="attribute">id</span>=<span class="value">"site2"</span>/&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>

  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"select 标签输入框："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-16"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">InputGroup</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"site4"</span> <span class="attribute">placeholder</span>=<span class="value">"www.mysite"</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group-wrap"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Select</span> <span class="attribute">defaultValue</span>=<span class="value">".com"</span> <span class="attribute">style</span>=<span class="value">{{width:70}}</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".com"</span>&gt;</span>.com<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".jp"</span>&gt;</span>.jp<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".cn"</span>&gt;</span>.cn<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".org"</span>&gt;</span>.org<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">Select</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">InputGroup</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>

  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"输入身份证："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-16"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">InputGroup</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo1"</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo2"</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo3"</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo4"</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">InputGroup</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>

  <span class="tag">&lt;<span class="title">FormItem
</span>    <span class="attribute">label</span>=<span class="value">"电话号码："</span>
    <span class="attribute">labelClassName</span>=<span class="value">"col-6"</span>
    <span class="attribute">wrapperClassName</span>=<span class="value">"col-16"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"row"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-4"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel1"</span> <span class="attribute">value</span>=<span class="value">"086"</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-2"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-split"</span>&gt;</span>--<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-18"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">InputGroup</span> <span class="attribute">type</span>=<span class="value">"group"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-8"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel1"</span> /&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-8"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel2"</span> /&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-8"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel3"</span> /&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">InputGroup</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">FormItem</span>&gt;</span>
<span class="tag">&lt;/<span class="title">Form</span>&gt;</span>

, document.getElementById('components-form-demo-inputs'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-inputs">Input 输入框集合</a>
    </div>
    
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>