<div class="code-box">
  <div class="code-box-demo">
    <div id="components-form-demo-mix"></div>
    <script>(function(){"use strict";

var Select = antd.Select;
var Option = Select.Option;
var InputNumber = antd.InputNumber;
var Datepicker = antd.Datepicker;
var Switch = antd.Switch;
var Menu = antd.Menu;
var Dropdown = antd.Dropdown;
var Slider = antd.Slider;

var menu = React.createElement(
  Menu,
  null,
  React.createElement(
    Menu.Item,
    null,
    React.createElement(
      "a",
      { target: "_blank", href: "http://www.alipay.com/" },
      ".net"
    )
  ),
  React.createElement(
    Menu.Item,
    null,
    React.createElement(
      "a",
      { target: "_blank", href: "http://www.taobao.com/" },
      ".jp"
    )
  ),
  React.createElement(
    Menu.Item,
    null,
    React.createElement(
      "a",
      { target: "_blank", href: "http://www.tmall.com/" },
      ".org"
    )
  )
);

function handleSelectChange(value) {
  console.log("selected " + value);
}

function onInputNumberChange(v) {
  console.log("changed", v);
}

React.render(React.createElement(
  "form",
  { className: "ant-form-horizontal" },
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "col-6", required: true },
      "Input-Number:"
    ),
    React.createElement(
      "div",
      { className: "col-10" },
      React.createElement(InputNumber, { min: 1, max: 10, defaultValue: 3, onChange: onInputNumberChange, style: { width: 100 } }),
      React.createElement(
        "span",
        { className: "ant-form-text" },
        " 台机器"
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item ant-form-item-compact" },
    React.createElement(
      "label",
      { className: "col-6", required: true },
      React.createElement("i", { className: "anticon anticon-exclamation-circle", style: { color: "#f60" } }),
      " 我是标题:"
    ),
    React.createElement(
      "div",
      { className: "col-10" },
      React.createElement(
        "p",
        { className: "ant-form-text" },
        "唧唧复唧唧木兰当户织呀"
      ),
      React.createElement(
        "p",
        { className: "ant-form-text" },
        React.createElement(
          "a",
          { href: "javascript:;" },
          "链接文字"
        )
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { "for": "", className: "col-6", required: true },
      "Switch 开关:"
    ),
    React.createElement(
      "div",
      { className: "col-10" },
      React.createElement(Switch, null)
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { "for": "", className: "col-6", required: true },
      "Slider 滑动输入条:"
    ),
    React.createElement(
      "div",
      { className: "col-10" },
      React.createElement(Slider, { marks: ["A", "B", "C", "D", "E", "F", "G"] })
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { "for": "", className: "col-6", required: true },
      "Select 选择器:"
    ),
    React.createElement(
      "div",
      { className: "col-18" },
      React.createElement(
        Select,
        { value: "lucy", style: { width: 200 }, onChange: handleSelectChange },
        React.createElement(
          Option,
          { value: "jack" },
          "jack"
        ),
        React.createElement(
          Option,
          { value: "lucy" },
          "lucy"
        ),
        React.createElement(
          Option,
          { value: "disabled", disabled: true },
          "disabled"
        ),
        React.createElement(
          Option,
          { value: "yiminghe" },
          "yiminghe"
        )
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "col-6", "for": "site4" },
      "按钮式下拉输入框:"
    ),
    React.createElement(
      "div",
      { className: "col-16" },
      React.createElement(
        "div",
        { className: "ant-input-group" },
        React.createElement("input", { type: "text", className: "ant-input", id: "site4", placeholder: "Search for..." }),
        React.createElement(
          "div",
          { className: "ant-input-group-btn" },
          React.createElement(
            Dropdown,
            { overlay: menu },
            React.createElement(
              "button",
              { className: "ant-btn ant-btn-menu" },
              ".com ",
              React.createElement("i", { className: "anticon anticon-down" })
            )
          )
        )
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { "for": "", className: "col-6", required: true },
      "Datepicker:"
    ),
    React.createElement(
      "div",
      { className: "col-6" },
      React.createElement(Datepicker, { value: "" })
    ),
    React.createElement(
      "div",
      { className: "col-2" },
      React.createElement(
        "p",
        { className: "ant-form-split" },
        "--"
      )
    ),
    React.createElement(
      "div",
      { className: "col-6" },
      React.createElement(Datepicker, { value: "" })
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item has-error" },
    React.createElement(
      "label",
      { "for": "", className: "col-6", required: true },
      "Datepicker 校验:"
    ),
    React.createElement(
      "div",
      { className: "col-6" },
      React.createElement(Datepicker, { value: "" })
    ),
    React.createElement(
      "div",
      { className: "col-2" },
      React.createElement(
        "p",
        { className: "ant-form-split" },
        "--"
      )
    ),
    React.createElement(
      "div",
      { className: "col-6" },
      React.createElement(Datepicker, { value: "" })
    ),
    React.createElement(
      "div",
      { className: "col-19 col-offset-6" },
      React.createElement(
        "p",
        { className: "ant-form-explain" },
        "请输入正确选项"
      )
    )
  )
), document.getElementById("components-form-demo-mix"));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Select = antd.Select;
<span class="keyword">var</span> Option = Select.Option;
<span class="keyword">var</span> InputNumber = antd.InputNumber;
<span class="keyword">var</span> Datepicker = antd.Datepicker;
<span class="keyword">var</span> Switch = antd.Switch;
<span class="keyword">var</span> Menu = antd.Menu;
<span class="keyword">var</span> Dropdown = antd.Dropdown;
<span class="keyword">var</span> Slider = antd.Slider;

<span class="keyword">var</span> menu = <span class="xml"><span class="tag">&lt;<span class="title">Menu</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">target</span>=<span class="value">"_blank"</span> <span class="attribute">href</span>=<span class="value">"http://www.alipay.com/"</span>&gt;</span>.net<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">target</span>=<span class="value">"_blank"</span> <span class="attribute">href</span>=<span class="value">"http://www.taobao.com/"</span>&gt;</span>.jp<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">target</span>=<span class="value">"_blank"</span> <span class="attribute">href</span>=<span class="value">"http://www.tmall.com/"</span>&gt;</span>.org<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
<span class="tag">&lt;/<span class="title">Menu</span>&gt;</span>;</span>

<span class="function"><span class="keyword">function</span> <span class="title">handleSelectChange</span><span class="params">(value)</span> {</span>
  console.log(<span class="string">'selected '</span> + value);
}

<span class="function"><span class="keyword">function</span> <span class="title">onInputNumberChange</span><span class="params">(v)</span>{</span>
  console.log(<span class="string">'changed'</span>,v);
}

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">className</span>=<span class="value">"ant-form-horizontal"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>Input-Number:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-10"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">InputNumber</span> <span class="attribute">min</span>=<span class="value">{1}</span> <span class="attribute">max</span>=<span class="value">{10}</span> <span class="attribute">defaultValue</span>=<span class="value">{3}</span> <span class="attribute">onChange</span>=<span class="value">{onInputNumberChange}</span> <span class="attribute">style</span>=<span class="value">{{width:100}}</span>/&gt;</span>
      <span class="tag">&lt;<span class="title">span</span> <span class="attribute">className</span>=<span class="value">"ant-form-text"</span>&gt;</span> 台机器<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item ant-form-item-compact"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>
      <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-exclamation-circle"</span> <span class="attribute">style</span>=<span class="value">{{color:</span> '#<span class="attribute">f60</span>'}}&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span> 我是标题:
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-10"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-text"</span>&gt;</span>唧唧复唧唧木兰当户织呀<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
      <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-text"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"javascript:;"</span>&gt;</span>链接文字<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">""</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>Switch 开关:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-10"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Switch</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">""</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>Slider 滑动输入条:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-10"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Slider</span> <span class="attribute">marks</span>=<span class="value">{["A","B","C","D","E","F","G"]}</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">""</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>Select 选择器:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-18"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Select</span> <span class="attribute">value</span>=<span class="value">"lucy"</span> <span class="attribute">style</span>=<span class="value">{{width:200}}</span> <span class="attribute">onChange</span>=<span class="value">{handleSelectChange}</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">"jack"</span>&gt;</span>jack<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">"lucy"</span>&gt;</span>lucy<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">"disabled"</span> <span class="attribute">disabled</span>&gt;</span>disabled<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">"yiminghe"</span>&gt;</span>yiminghe<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">Select</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">for</span>=<span class="value">"site4"</span>&gt;</span>按钮式下拉输入框:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">id</span>=<span class="value">"site4"</span> <span class="attribute">placeholder</span>=<span class="value">"Search for..."</span> /&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group-btn"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Dropdown</span> <span class="attribute">overlay</span>=<span class="value">{menu}</span>&gt;</span>
          <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-menu"</span>&gt;</span>
          .com <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">Dropdown</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">""</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>Datepicker:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">value</span>=<span class="value">""</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-2"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-split"</span>&gt;</span>--<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">value</span>=<span class="value">""</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item has-error"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">""</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>Datepicker 校验:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">value</span>=<span class="value">""</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-2"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-split"</span>&gt;</span>--<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">value</span>=<span class="value">""</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-19 col-offset-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-explain"</span>&gt;</span>请输入正确选项<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">form</span>&gt;</span>
, document.getElementById('components-form-demo-mix'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">表单组合</div>
    <p>集中营，展示和表单相关的其他 ant-design 组件。</p>
    <span class="collapse anticon anticon-circle-o-right"></span>
  </div>
</div>