<div class="code-box" id="demo-start-end">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-start-end"></div>
    <script>(function(){'use strict';

function _defineProperty(obj, key, value) { if (key in obj) { Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true }); } else { obj[key] = value; } return obj; }

var Datepicker = antd.Datepicker;

var Test = React.createClass({
  displayName: 'Test',

  getInitialState: function getInitialState() {
    return {
      startValue: null,
      endValue: null
    };
  },

  disabledEndDate: function disabledEndDate(endValue) {
    if (!endValue || !this.state.startValue) {
      return false;
    }
    return endValue.getTime() <= this.state.startValue.getTime();
  },

  disabledStartDate: function disabledStartDate(startValue) {
    if (!startValue || !this.state.endValue) {
      return false;
    }
    return startValue.getTime() >= this.state.endValue.getTime();
  },

  onChange: function onChange(field, value) {
    this.setState(_defineProperty({}, field, value));
  },

  render: function render() {
    var state = this.state;
    return React.createElement(
      'div',
      { style: { width: 240, margin: 20 } },
      React.createElement(
        'p',
        null,
        '开始时间：',
        React.createElement(Datepicker, { disabledDate: this.disabledStartDate, value: state.startValue,
          onChange: this.onChange.bind(this, 'startValue') })
      ),
      React.createElement(
        'p',
        null,
        '结束时间：',
        React.createElement(Datepicker, { disabledDate: this.disabledEndDate, value: state.endValue,
          onChange: this.onChange.bind(this, 'endValue') })
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-datepicker-demo-start-end'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Datepicker = antd.Datepicker;

<span class="keyword">var</span> Test = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      startValue: <span class="literal">null</span>,
      endValue: <span class="literal">null</span>
    };
  },

  disabledEndDate(endValue) {
    <span class="keyword">if</span> (!endValue || !<span class="keyword">this</span>.state.startValue) {
      <span class="keyword">return</span> <span class="literal">false</span>;
    }
    <span class="keyword">return</span> endValue.getTime() &lt;= <span class="keyword">this</span>.state.startValue.getTime();
  },

  disabledStartDate(startValue) {
    <span class="keyword">if</span> (!startValue || !<span class="keyword">this</span>.state.endValue) {
      <span class="keyword">return</span> <span class="literal">false</span>;
    }
    <span class="keyword">return</span> startValue.getTime() &gt;= <span class="keyword">this</span>.state.endValue.getTime();
  },

  onChange(field, value) {
    <span class="keyword">this</span>.setState({
      [field]: value,
    });
  },

  render() {
    <span class="keyword">var</span> state = <span class="keyword">this</span>.state;
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">style</span>=<span class="value">{{width:</span> <span class="attribute">240</span>, <span class="attribute">margin:</span> <span class="attribute">20</span>}}&gt;</span>
      <span class="tag">&lt;<span class="title">p</span>&gt;</span>
        开始时间：
        <span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">disabledDate</span>=<span class="value">{this.disabledStartDate}</span> <span class="attribute">value</span>=<span class="value">{state.startValue}</span>
                <span class="attribute">onChange</span>=<span class="value">{this.onChange.bind(this,'startValue')}</span>/&gt;</span>
      <span class="tag">&lt;/<span class="title">p</span>&gt;</span>

      <span class="tag">&lt;<span class="title">p</span>&gt;</span>
        结束时间：
        <span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">disabledDate</span>=<span class="value">{this.disabledEndDate}</span> <span class="attribute">value</span>=<span class="value">{state.endValue}</span>
                <span class="attribute">onChange</span>=<span class="value">{this.onChange.bind(this,'endValue')}</span>/&gt;</span>
      <span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Test</span> /&gt;</span>
, document.getElementById('components-datepicker-demo-start-end'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-start-end">开始结束时间约束</a>
    </div>
    <p>设置 <code>disabledDate</code> 方法，来约束开始和结束时间的选择。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>