<div class="code-box" id="demo-time">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-time"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

ReactDOM.render(React.createElement(_antd.Datepicker, { showTime: true, format: "yyyy-MM-dd HH:mm:ss", defaultValue: "2015-11-11 11:11:11" }), document.getElementById('components-datepicker-demo-time'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Datepicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Datepicker</span> <span class="hljs-attribute">showTime</span>=<span class="hljs-value">{true}</span> <span class="hljs-attribute">format</span>=<span class="hljs-value">"yyyy-MM-dd HH:mm:ss"</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"2015-11-11 11:11:11"</span>/&gt;</span>
, document.getElementById('components-datepicker-demo-time'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-time">时间选择</a>
    </div>
    <p>准确到秒的时间选择面板。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>