<div class="code-box" id="demo-time">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-time"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var result = new Date();
var selectdDate = undefined,
    selectdTime = undefined;
function handleChange(from, value) {
  if (!value) {
    if (from === 'date') {
      selectdDate = false;
    } else {
      selectdTime = false;
    }
    return;
  }
  if (from === 'date') {
    result.setFullYear(value.getFullYear());
    result.setMonth(value.getMonth());
    result.setDate(value.getDate());
    selectdDate = true;
  } else {
    result.setHours(value.getHours());
    result.setMinutes(value.getMinutes());
    result.setSeconds(value.getSeconds());
    selectdTime = true;
  }
  if (selectdDate && selectdTime) {
    console.log('选择结果是：' + result);
  }
}

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(_antd.Datepicker, { onChange: handleChange.bind(null, 'date') }),
  React.createElement(_antd.Timepicker, { onChange: handleChange.bind(null, 'time') })
), document.getElementById('components-datepicker-demo-time'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Datepicker, Timepicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">let</span> result = <span class="hljs-keyword">new</span> <span class="hljs-built_in">Date</span>();
<span class="hljs-keyword">let</span> selectdDate, selectdTime;
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handleChange</span>(<span class="hljs-params">from, value</span>) </span>{
  <span class="hljs-keyword">if</span> (!value) {
    <span class="hljs-keyword">if</span> (from === <span class="hljs-string">'date'</span>) {
      selectdDate = <span class="hljs-literal">false</span>;
    } <span class="hljs-keyword">else</span> {
      selectdTime = <span class="hljs-literal">false</span>;
    }
    <span class="hljs-keyword">return</span>;
  }
  <span class="hljs-keyword">if</span> (from === <span class="hljs-string">'date'</span>) {
    result.setFullYear(value.getFullYear());
    result.setMonth(value.getMonth());
    result.setDate(value.getDate());
    selectdDate = <span class="hljs-literal">true</span>;
  } <span class="hljs-keyword">else</span> {
    result.setHours(value.getHours());
    result.setMinutes(value.getMinutes());
    result.setSeconds(value.getSeconds());
    selectdTime = <span class="hljs-literal">true</span>;
  }
  <span class="hljs-keyword">if</span> (selectdDate &amp;&amp; selectdTime) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'选择结果是：'</span> + result);
  }
}

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Datepicker</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{handleChange.bind(null,</span> '<span class="hljs-attribute">date</span>')} /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Timepicker</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{handleChange.bind(null,</span> '<span class="hljs-attribute">time</span>')} /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, document.getElementById('components-datepicker-demo-time'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-time">日期时间选择</a>
    </div>
    <p>和 <a href="/components/timepicer">时间选择框</a> 配合使用。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>