<div class="code-box" id="demo-multiple-select">
  <div class="code-box-demo">
    <div id="components-validation-demo-multiple-select"></div>
    <script>(function(){'use strict';

var Validation = antd.Validation;
var Validator = Validation.Validator;
var Select = antd.Select;
var Option = Select.Option;
var Button = antd.Button;

function cx(classNames) {
  if (typeof classNames === 'object') {
    return Object.keys(classNames).filter(function (className) {
      return classNames[className];
    }).join(' ');
  } else {
    return Array.prototype.join.call(arguments, ' ');
  }
}

var Form = React.createClass({
  displayName: 'Form',

  mixins: [Validation.FieldMixin],

  getInitialState: function getInitialState() {
    return {
      status: {
        select: {}
      },
      formData: {
        select: undefined
      }
    };
  },

  handleSubmit: function handleSubmit(e) {
    var _this = this;

    e.preventDefault();
    var validation = this.refs.validation;
    validation.validate(function (valid) {
      if (!valid) {
        console.log('error in form');
        return;
      } else {
        console.log('submit');
      }
      console.log(_this.state.formData);
    });
  },

  handleReset: function handleReset(e) {
    this.refs.validation.reset();
    this.setState(this.getInitialState());
    e.preventDefault();
  },

  renderValidateStyle: function renderValidateStyle(item) {
    var hasFeedback = arguments.length <= 1 || arguments[1] === undefined ? true : arguments[1];

    var formData = this.state.formData;
    var status = this.state.status;

    var classes = cx({
      'has-feedback': hasFeedback,
      'has-error': status[item].errors,
      'is-validating': status[item].isValidating,
      'has-success': formData[item] && !status[item].errors && !status[item].isValidating
    });

    return classes;
  },

  render: function render() {
    var formData = this.state.formData;
    var status = this.state.status;

    return React.createElement(
      'form',
      { className: 'ant-form-horizontal' },
      React.createElement(
        Validation,
        { ref: 'validation', onValidate: this.handleValidate },
        React.createElement(
          'div',
          { className: 'ant-form-item' },
          React.createElement(
            'label',
            { className: 'col-7', required: true },
            '喜欢的颜色：'
          ),
          React.createElement(
            'div',
            { className: 'col-12' },
            React.createElement(
              'div',
              { className: this.renderValidateStyle('select', false) },
              React.createElement(
                Validator,
                { rules: [{ required: true, message: '请选择您喜欢的颜色', type: 'array' }] },
                React.createElement(
                  Select,
                  { multiple: true, size: 'large', placeholder: '请选择颜色', style: { width: "100%" }, name: 'select', value: formData.select },
                  React.createElement(
                    Option,
                    { value: 'red' },
                    '红色'
                  ),
                  React.createElement(
                    Option,
                    { value: 'orange' },
                    '橙色'
                  ),
                  React.createElement(
                    Option,
                    { value: 'yellow' },
                    '黄色'
                  ),
                  React.createElement(
                    Option,
                    { value: 'green' },
                    '绿色'
                  ),
                  React.createElement(
                    Option,
                    { value: 'blue' },
                    '蓝色'
                  )
                )
              ),
              status.select.errors ? React.createElement(
                'div',
                { className: 'ant-form-explain' },
                status.select.errors.join(',')
              ) : null
            )
          )
        ),
        React.createElement(
          'div',
          { className: 'ant-form-item' },
          React.createElement(
            'div',
            { className: 'col-offset-6 col-12' },
            React.createElement(
              Button,
              { type: 'primary', onClick: this.handleSubmit },
              '确 定'
            ),
            '   ',
            React.createElement(
              Button,
              { type: 'ghost', onClick: this.handleReset },
              '重 置'
            )
          )
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Form, null), document.getElementById('components-validation-demo-multiple-select'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">var</span> Validation = antd.Validation;
<span class="hljs-keyword">var</span> Validator = Validation.Validator;
<span class="hljs-keyword">var</span> Select = antd.Select;
<span class="hljs-keyword">var</span> Option = Select.Option;
<span class="hljs-keyword">var</span> Button = antd.Button;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">cx</span>(<span class="hljs-params">classNames</span>) </span>{
  <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> classNames === <span class="hljs-string">'object'</span>) {
    <span class="hljs-keyword">return</span> <span class="hljs-built_in">Object</span>.keys(classNames).filter(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">className</span>) </span>{
      <span class="hljs-keyword">return</span> classNames[className];
    }).join(<span class="hljs-string">' '</span>);
  } <span class="hljs-keyword">else</span> {
    <span class="hljs-keyword">return</span> <span class="hljs-built_in">Array</span>.prototype.join.call(<span class="hljs-built_in">arguments</span>, <span class="hljs-string">' '</span>);
  }
}

<span class="hljs-keyword">var</span> Form = React.createClass({
  mixins: [Validation.FieldMixin],

  getInitialState() {
    <span class="hljs-keyword">return</span> {
      status: {
        select: {}
      },
      formData: {
        select: <span class="hljs-literal">undefined</span>
      }
    };
  },

  handleSubmit(e) {
    e.preventDefault();
    <span class="hljs-keyword">var</span> validation = <span class="hljs-keyword">this</span>.refs.validation;
    validation.validate((valid) =&gt; {
      <span class="hljs-keyword">if</span> (!valid) {
        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'error in form'</span>);
        <span class="hljs-keyword">return</span>;
      } <span class="hljs-keyword">else</span> {
        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'submit'</span>);
      }
      <span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">this</span>.state.formData);
    });
  },

  handleReset(e) {
    <span class="hljs-keyword">this</span>.refs.validation.reset();
    <span class="hljs-keyword">this</span>.setState(<span class="hljs-keyword">this</span>.getInitialState());
    e.preventDefault();
  },

  renderValidateStyle(item, hasFeedback=<span class="hljs-literal">true</span>) {
    <span class="hljs-keyword">var</span> formData = <span class="hljs-keyword">this</span>.state.formData;
    <span class="hljs-keyword">var</span> status = <span class="hljs-keyword">this</span>.state.status;

    <span class="hljs-keyword">var</span> classes = cx({
      <span class="hljs-string">'has-feedback'</span>: hasFeedback,
      <span class="hljs-string">'has-error'</span>: status[item].errors,
      <span class="hljs-string">'is-validating'</span>: status[item].isValidating,
      <span class="hljs-string">'has-success'</span>: formData[item] &amp;&amp; !status[item].errors &amp;&amp; !status[item].isValidating
    });

    <span class="hljs-keyword">return</span> classes;
  },

  render() {
    <span class="hljs-keyword">var</span> formData = <span class="hljs-keyword">this</span>.state.formData;
    <span class="hljs-keyword">var</span> status = <span class="hljs-keyword">this</span>.state.status;

    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">form</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-horizontal"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Validation</span> <span class="hljs-attribute">ref</span>=<span class="hljs-value">"validation"</span> <span class="hljs-attribute">onValidate</span>=<span class="hljs-value">{this.handleValidate}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-item"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"col-7"</span> <span class="hljs-attribute">required</span>&gt;</span>喜欢的颜色：<span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"col-12"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{this.renderValidateStyle('select',</span> <span class="hljs-attribute">false</span>)}&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Validator</span> <span class="hljs-attribute">rules</span>=<span class="hljs-value">{[{required:</span> <span class="hljs-attribute">true</span>, <span class="hljs-attribute">message:</span> '请选择您喜欢的颜色', <span class="hljs-attribute">type:</span> '<span class="hljs-attribute">array</span>'}]}&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">multiple</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请选择颜色"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:"100%"}}</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"select"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.select}</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"red"</span>&gt;</span>红色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"orange"</span>&gt;</span>橙色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"yellow"</span>&gt;</span>黄色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"green"</span>&gt;</span>绿色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"blue"</span>&gt;</span>蓝色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">Validator</span>&gt;</span>
                {status.select.errors ? <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-explain"</span>&gt;</span>{status.select.errors.join(',')}<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span> : null}
              <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>

          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-item"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"col-offset-6 col-12"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleSubmit}</span>&gt;</span>确 定<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
              &amp;nbsp;&amp;nbsp;&amp;nbsp;
              <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleReset}</span>&gt;</span>重 置<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Validation</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">form</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Form</span> /&gt;</span>, document.getElementById('components-validation-demo-multiple-select'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-multiple-select">多选 Select</a>
    </div>
    <p>多选 Select 的校验例子。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>