<div class="code-box">
  <div class="code-box-demo">
    <div id="components-button-demo-loading"></div>
    <div class="nico-insert-code"><button class="ant-btn ant-btn-primary ant-btn-circle">
  <span class="anticon anticon-loading"></span>
</button>
<button class="ant-btn ant-btn-primary">
  <span>加载按钮</span>
  <span class="anticon anticon-loading"></span>
</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-circle"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-loading"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span>&gt;</span>加载按钮<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-loading"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">加载中</div>
    <p>点击后进入加载状态。</p>
    <span class="collapse anticon anticon-circle-o-right"></span>
  </div>
</div>