<div class="code-box" id="demo-loading">
  <div class="code-box-demo">
    <div id="components-button-demo-loading"></div>
    <script>(function(){"use strict";

var Button = antd.Button;

var App = React.createClass({
  displayName: "App",

  getInitialState: function getInitialState() {
    return {
      loading: false
    };
  },
  enterLoading: function enterLoading() {
    this.setState({
      loading: true
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        Button,
        { type: "primary", size: "lg", loading: true },
        "加载中"
      ),
      React.createElement(
        Button,
        { type: "primary", loading: "true" },
        "加载中"
      ),
      React.createElement(
        Button,
        { type: "primary", size: "sm", loading: true },
        "加载中"
      ),
      React.createElement("br", null),
      React.createElement(
        Button,
        { type: "primary", loading: this.state.loading, onClick: this.enterLoading },
        "点击变加载"
      )
    );
  }
});

ReactDOM.render(React.createElement(App, null), document.getElementById('components-button-demo-loading'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Button = antd.Button;

<span class="keyword">var</span> App = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      loading: <span class="literal">false</span>
    };
  },
  enterLoading() {
    <span class="keyword">this</span>.setState({
      loading: <span class="literal">true</span>
    });
  },
  render() {
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span> <span class="attribute">size</span>=<span class="value">"lg"</span> <span class="attribute">loading</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span> <span class="attribute">loading</span>=<span class="value">"true"</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span> <span class="attribute">size</span>=<span class="value">"sm"</span> <span class="attribute">loading</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">br</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">Button</span> <span class="attribute">type</span>=<span class="value">"primary"</span> <span class="attribute">loading</span>=<span class="value">{this.state.loading}</span> <span class="attribute">onClick</span>=<span class="value">{this.enterLoading}</span>&gt;</span>
        点击变加载
      <span class="tag">&lt;/<span class="title">Button</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="tag">&lt;<span class="title">App</span> /&gt;</span>, document.getElementById('components-button-demo-loading'));</span></code></pre></div><style>
#components-button-demo-loading .ant-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-loading">加载中</a>
    </div>
    <p>添加 <code>loading</code> 属性即可让按钮处于加载状态，最后一个按钮演示点击后进入加载状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>