<div class="code-box" id="demo-icon-slider">
  <div class="code-box-demo">
    <div id="components-slider-demo-icon-slider"></div>
    <script>(function(){'use strict';

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

var _antd = require('antd');

var IconSlider = React.createClass({
  displayName: 'IconSlider',

  getInitialState: function getInitialState() {
    var max = this.props.max;
    var min = this.props.min;
    var mid = ((max - min) / 2).toFixed(5);

    return {
      preIconClass: this.props.value >= mid ? '' : 'anticon-highlight',
      nextIconClass: this.props.value >= mid ? 'anticon-highlight' : '',
      mid: mid,
      sliderValue: this.props.value
    };
  },

  handleChange: function handleChange(v) {
    this.setState({
      preIconClass: v >= this.state.mid ? '' : 'anticon-highlight',
      nextIconClass: v >= this.state.mid ? 'anticon-highlight' : '',
      sliderValue: v
    });
  },

  render: function render() {
    return React.createElement(
      'div',
      { className: 'iconWrapper' },
      React.createElement(_antd.Icon, { className: this.state.preIconClass, type: this.props.icon[0] }),
      React.createElement(_antd.Icon, { className: this.state.nextIconClass, type: this.props.icon[1] }),
      React.createElement(_antd.Slider, _extends({}, this.props, { onChange: this.handleChange, value: this.state.sliderValue }))
    );
  }
});

ReactDOM.render(React.createElement(IconSlider, { min: 0, max: 20, value: 0, icon: ['lock', 'unlock'] }), document.getElementById('components-slider-demo-icon-slider'));})()</script><div class="highlight"><pre><code class="javascript">import { Slider, Icon } from <span class="string">'antd'</span>;

<span class="keyword">const</span> IconSlider = React.createClass({
  getInitialState() {
    <span class="keyword">const</span> max = <span class="keyword">this</span>.props.max;
    <span class="keyword">const</span> min = <span class="keyword">this</span>.props.min;
    <span class="keyword">const</span> mid = ((max - min) / <span class="number">2</span>).toFixed(<span class="number">5</span>);

    <span class="keyword">return</span> {
      preIconClass: <span class="keyword">this</span>.props.value &gt;= mid ? <span class="string">''</span> : <span class="string">'anticon-highlight'</span>,
      nextIconClass: <span class="keyword">this</span>.props.value &gt;= mid ? <span class="string">'anticon-highlight'</span> : <span class="string">''</span>,
      mid: mid,
      sliderValue: <span class="keyword">this</span>.props.value
    };
  },

  handleChange(v) {
    <span class="keyword">this</span>.setState(
      {
        preIconClass: v &gt;= <span class="keyword">this</span>.state.mid ? <span class="string">''</span> : <span class="string">'anticon-highlight'</span>,
        nextIconClass: v &gt;= <span class="keyword">this</span>.state.mid ? <span class="string">'anticon-highlight'</span>: <span class="string">''</span>,
        sliderValue: v
      }
    );
  },

  render() {
    <span class="keyword">return</span> (
      <span class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"iconWrapper"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Icon</span> <span class="attribute">className</span>=<span class="value">{this.state.preIconClass}</span> <span class="attribute">type</span>=<span class="value">{this.props.icon[0]}</span> /&gt;</span>
        <span class="tag">&lt;<span class="title">Icon</span> <span class="attribute">className</span>=<span class="value">{this.state.nextIconClass}</span> <span class="attribute">type</span>=<span class="value">{this.props.icon[1]}</span> /&gt;</span>
        <span class="tag">&lt;<span class="title">Slider</span> {<span class="attribute">...this.props</span>} <span class="attribute">onChange</span>=<span class="value">{this.handleChange}</span> <span class="attribute">value</span>=<span class="value">{this.state.sliderValue}</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    );
  }
});

ReactDOM.render(
<span class="tag">&lt;<span class="title">IconSlider</span> <span class="attribute">min</span>=<span class="value">{0}</span> <span class="attribute">max</span>=<span class="value">{20}</span> <span class="attribute">value</span>=<span class="value">{0}</span> <span class="attribute">icon</span>=<span class="value">{['lock',</span> '<span class="attribute">unlock</span>']} /&gt;</span>
, document.getElementById('components-slider-demo-icon-slider'));</span></code></pre></div><style>
.iconWrapper {
  position: relative;
  padding: 0 24px 0 9px;
}

.iconWrapper .anticon {
  position: absolute;
  top: -6px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: #ccc;
}

.iconWrapper .anticon-lock {
  left: 0;
}
.iconWrapper .anticon-unlock{
  right: 0;
}

.anticon.anticon-highlight {
  color: #666;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-icon-slider">带 icon 的滑块</a>
    </div>
    <p>滑块左右可以设置图标来表达业务含义。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>